[2018-06-18 23:16] keleftheriou opened #34 "Explicitly triggering a network fetch"
The following method is currently unused, although it would be handy if it was available through the public header. Without it, there is no way to explicitly trigger a network fetch which may be desirable, particularly from extensions where the `applicationDidBecomeActive:` handler does not get called (and adding `NSExtensionHostDidBecomeActive` would not be sufficient).

If made available, it sho

[2018-06-19 04:54] jeiting commented on #34
I hadn't considered that case. I took it out because I didn't want people thinking they needed to do it manually.

I'll get this in for the next dot release. (You can create a header for it and call the private method. I won't tell anyone.)

[2018-06-21 19:47] keleftheriou opened #35 "Equality comparison instead of assignment"
I'm not exactly sure when/how this can cause undesired behavior, but it should be a single equals:

https://github.com/RevenueCat/purchases-ios/blob/bb27ad2af65d30a90c77268fb0893a98ae091b1e/Purchases/Classes/Public/RCPurchaserInfo.m#L29

[2018-06-23 00:05] jeiting commented on #35
🤦‍♂️

Ough. Good catch. Shouldn't cause any issues, the tests would catch it. This is what I get for being a cranky old Obj-C guy.

[2018-07-07 18:04] RiverbayChris opened #40 "Carthage currently not working"
Running Carthage update produces the below, but nothing is actually downloaded:

*** Downloading purchases-ios.framework binary at "1.0.4"

[2018-07-07 21:58] jeiting commented on #40
Which version of Carthage are you on?

[2018-07-08 18:44] RiverbayChris commented on #40
Fixed by using this cartfile entry instead:

github "revenuecat/purchases-ios" "release/1.0.4"

[2018-07-08 18:44] #40 closed

[2018-08-01 01:56] agrinman opened #47 "Manual integration?"
It would be great if we could add this as a dependency just using `git submodules` if we are not using Carthage or Cocoapods.

[2018-08-01 21:14] jeiting commented on #47
Yeah, that's totally doable. Just add a submodule and manually adding the project as a sub-project should work™️. Let me know if it doesn't.

[2018-08-05 19:51] agrinman commented on #47
Apologies for the delay, finally got around to debugging further...that's what I tried at first, but it wasn't quite working like it usually does for other framework-project deps.

FWIW Here's what worked for me:
1. add as a submodule
2. drag the entire `purchases-ios` folder into your project (do **not** add to your app target)
3. add framework as you usually do (you'll see purchases.framework)

[2018-08-05 19:51] #47 closed

[2018-09-01 11:46] MarcSteven opened #49 "Not swift version"
When do you release swift version here ?

[2018-09-13 10:00] WayneEld opened #51 "Nil Entitlements"
I am developing a Mac App and seem to be getting a return of nil entitlemnts after implementing an instance of RCPurchases setting the delegate and calling the completion handler `        purchases?.entitlements({ (entitlements) in`  . Am I missing something. Please can you help.

[2018-09-18 00:52] davidweiss opened #52 "'SKProductDiscountPaymentMode' is only available on iOS 11.2 or newer"
Annotate 'RCPaymentModeFromSKProductDiscountPaymentMode' with an availability attribute to silence this warning

iOS 12 issue.

**RCBackend.h:33**
`RCPaymentMode RCPaymentModeFromSKProductDiscountPaymentMode(SKProductDiscountPaymentMode paymentMode);`

should be

`API_AVAILABLE(ios(11.2))
RCPaymentMode RCPaymentModeFromSKProductDiscountPaymentMode(SKProductDiscountPaymentMode paymentMode);`

**RCB

[2018-09-21 17:57] #52 closed

[2018-09-30 16:35] MarcSteven commented on #49
no reply ,so close it

[2018-09-30 16:35] #49 closed

[2018-11-05 07:36] Out1and3r commented on #51
Are you using correct APIKey? Do you have Entitlements setup in your account?

[2018-11-05 07:39] Out1and3r opened #58 "RCPurchases dealloc is not called"
Hi,

I have when a problem when I need re-init Purchases class with a different userId during the same app session. Dealloc is not being called so all the listeners are still active for old user too(all calls are multiplied by number of pre-used users).
Workaround for now - manually set delegate to nil.

[2018-11-05 10:52] WayneEld commented on #51
@Out1and3r I contacted the guys from RevenueCat with regards to this issue.  The response I received was `Ah, right I missed that you were on Mac. Mac support is still a little incomplete on the dashboard side. We don't have a way to fully configure it from the dashboard yet.` It was a configuration error with regards to their dashboard that did not implement / configure the entitlements correctly

[2018-11-21 18:55] leisurehound opened #64 "purchaserInfo.purchaseDate(forProductIdentifier returns a null purchase date for a purchased renewing product"
Here is some sample client code that demonstrates the issue

        for purchasedProductIdentifier in purchaserInfo.allPurchasedProductIdentifiers {

            print ("ID: \(purchasedProductIdentifier)")
            print("Start Date:  \(String(describing: purchaserInfo.purchaseDate(forProductIdentifier: purchasedProductIdentifier)))")
            print("End Date:  \(String(describing: purchase

[2018-11-21 19:09] leisurehound opened #65 "Expose master appUserID to clients to support non-renewing products restoration across devices"
Since RevenueCat does not fully support non-renewing subscriptions (restoration across devices, storing expiration dates, etc) I am working around this by storing the information in Firebase.  However, I need to tie together purchases made in one device to another device of the same user for restoration.

Initially I tried to use RCPurchases.appUserID to do so but learned that they are unique to t

[2018-12-05 20:32] shakked opened #67 "Simplify Purchasing Calls"
I find myself copying and pasting the same generic wrapper around RevenueCat into every app I make.

The issue is the purchasing is all handled through the delegate methods so I have to have a class that stores the completion block like so:

[code]

I really wish that it looked liked this:

[code]

And then a simple way of checking if the user is susbcribed. I think most users only have 1 tier and

[2018-12-16 17:32] bernikowich commented on #67
In my opinion MerchantKit has the best client APIs for Swift. It much more complicated to handle delegate methods.

[2019-01-15 19:47] vegaro commented on #67
Thanks for the feedback. We just released https://github.com/RevenueCat/purchases-ios/releases/tag/2.0.0-rc1 which should fix a lot of these issues so closing this for now.

[2019-01-15 19:47] #67 closed

[2019-01-22 12:24] nyeu opened #77 "activeProduct is nil"
Hi,
I am just integrating RevenueCat for subscriptions and when I try to do a purhcase, `activeProduct` is nil. According to the documentation:

This is correct, my product in iTunesConnect is still not `Ready for Sale`, but how can I test this? I want to call `self.purchases.makePurchase(product)`.

Am I missing anything? Did I understood it wrong?

I use Xcode 10.0 and an iPhone X with iOS 12.

[2019-01-23 02:43] jeiting commented on #77
Hey!

Make sure you do everything in this post to get your product "Ready for Sale" or "Ready to Submit"
https://www.revenuecat.com/2018/10/11/configuring-in-app-products-is-hard

[2019-01-23 09:37] nyeu commented on #77
Hey,
Thanks for the response. I'm closing the ticket as my issue was answered in the blog post.

[2019-01-23 09:37] #77 closed

[2019-01-23 22:13] MichaelDanielTom commented on #58
Not sure if this is related, but we're getting a bunch of EXC_BAD_ACCESS crashes in production from `[RCPurchases cachePurchaserInfo:]`. It's hard to reproduce locally. I included a stack trace - hopefully this can be helpful!

[code]

[2019-01-23 23:20] Out1and3r commented on #58
@MichaelDanielTom how do you init Purchases and reference the object after? From my point init of the singleton is a bit weird and actually you still can have multiple objects that a listening to delegates. This might cause the issue.

[2019-01-24 04:48] jeiting commented on #58
Hey Michael,

That is an interesting crash. We haven't seen it reported before but it looks like maybe NSUserDefaults has a dealloced observer somewhere in your app?

I sent you an email about it.

[2019-01-25 19:56] rkotzy commented on #65
Closing this as an issue since it's more of a feature request. I've added it to the public roadmap here: [https://trello.com/c/I8GkwCYn](https://trello.com/c/I8GkwCYn)

[2019-01-25 19:56] #65 closed

[2019-01-30 01:16] leisurehound commented on #64
Will purchaseDate be supported?  Was this fixed separately?

[2019-01-30 22:30] rkotzy commented on #64
Re-opening this. Will require a server change to fix but can use this issue as a status tracker.

[2019-02-08 16:22] pavelR opened #83 "Restore subscriptions cancel error."
I use Purchases (v 1.2.0) in my project. I can see the Purchases library sends the receipt data even if user cancels the subscription restore. In this case RevenueCat backend returns error:

` ("Error Domain=RCBackendErrorDomain Code=0 "The receipt is not valid." UserInfo= { NSLocalizedDescription=The receipt is not valid. }") `

and sends this error to delegate method. How can I distinguish betwe

[2019-02-08 17:30] rkotzy commented on #83
Hey @pavelR

Can you clarify what you mean by "user cancels the subscription restore"? Any reproducible steps you can provide will be helpful.

Since some issues are Sandbox specific, specifying what environment you encountered the issue could help. ​

Thanks!

[2019-02-11 11:45] pavelR commented on #83
Hi, thanks for quick response. There are steps to reproduce my problem:

**Precondition:** Sandbox user hasn't subscriptions in RevenueCat.

1. I call method `restoreTransactionsForAppStoreAccount()` when user tries to restore subscriptions.
2. Purchases framework shows alert with sign-in form to iTunes Store.
3. User press “Cancel” button.
4. I get described error in delegate method `purchases(_

[2019-02-11 17:24] rkotzy commented on #83
Thanks for the info, this is known behavior in Sandbox since there is no receipt on the device after an install - a backend error is thrown since an empty receipt is being sent to the server. In production you should always have a receipt file to restore with.

I'm going to close this as an issue since and add it to the in-progress feature of "Overhaul SDK Error Handling" -> https://trello.com/c/C

[2019-02-11 17:24] #83 closed

[2019-02-11 20:51] rkotzy commented on #64
This is working now for the SDK and API.

[2019-02-11 20:51] #64 closed

[2019-02-12 07:12] pavelR commented on #83
Thanks.

[2019-02-13 14:19] jbb1003 opened #84 "Please add ability to hook in a custom logger"
Currently RCSetShowDebugLogs(YES) will cause logging to go to NSLog. We (and presumably a lot of other people) have our own logger, and we would prefer to have logging routed through it.

The MVP for this is something like RCSetLoggingFunction(void *fn);

[2019-03-05 21:59] vegaro commented on #84
Thanks @jbb1003 for requesting this. I have added the request to our public roadmap https://trello.com/c/GgtROh5V/63-custom-logger-function-in-ios-and-android and will be closing this since it's more than a feature request than an issue. You can upvote the request in that public trello board.

Thanks again!

[2019-03-05 21:59] #84 closed

[2019-03-06 06:17] Out1and3r opened #86 "Network calls during configure process"
As soon as configure function is called library is making 2 network calls. This is a new logic and wasn't there before. Is it a bug or there is reasoning behind this decision?

[2019-03-06 16:41] jeiting commented on #86
This is normal.

1. First one is to fetch the subscription status for the configured user.
2. Second one is to fetch the available products and and entitlements.

Eventually we'll probably consolidate these to one request. Alternatively, we could enable `HTTPShouldUsePipelining` on `NSURLConnection` which would put both requests on the same TCP connection.

[2019-03-06 16:41] #86 closed

[2019-03-06 21:51] Out1and3r commented on #86
This is breaking single responsibility principle. Config function should be responsible for init only. Is there a way I can init class without making outside calls?

[2019-03-06 22:02] jeiting commented on #86
Yeah, we do this to ensure this info is ready as soon as possible.

If you are trying to write code that is strict about side effects I'd create your own wrapper class that you can init that defers the configure call until you want to do the initialization.

[2019-03-06 22:09] Out1and3r commented on #86
So previously I had to do config and then call get entitlements(2 lines) in any place that would suit my code. Now 1 line of code but without a way to choose...

Write a wrapper to manage another wrapper...

[2019-03-06 22:17] jeiting commented on #86
I'm not sure I understand.

You should only need to call `configure` once ever. You can then call `entitlements` when you need them, the `configure` starts the request so that hopefully they are already cached when you need them.

Why does the internal HTTP calls of configure affect your code? It shouldn't matter to the SDK user.

[2019-03-06 22:41] Out1and3r commented on #86
I will use analogy: NSURLSession does not fire network call as soon as it is inited to create cache for a user.
I understand what you are trying to achieve. Pre cache so the actual call "get entitlements" would be faster. My problem is: unexpected library network calls at the stage they should not be launched.
My understanding: you can change class properties in any way before you start actual use

[2019-03-06 22:59] jeiting commented on #86
Thanks for feedback. We try to build the easiest to use API that will provide the best end user experience. Sometimes that means doing things that you wouldn't do in a more narrow framework like `NSURLSession`. Obviously, it doesn't always fit everyone's codebase perfectly.

The SDK is open source, and you're welcome to fork and adjust to fit your style if that's important.

Here's the code diff f

[2019-04-04 21:38] davedelong opened #89 "Missing nullability annotations in `RCPurchaserInfo+Protected.h`"
I'm getting a bunch of "missing nullability annotation" warnings in RCPurchaserInfo+Protected.h.

I'm not sure what the annotations should be, or I'd probably do it myself. I like my projects to build cleanly without warnings.

[2019-04-04 21:41] davedelong opened #90 "Please leave old API in place, but mark it as unavailable or deprecated"
I just updated my copy of Purchases to the latest version, and got hit with a bunch of compiler errors about missing methods or missing parameters.

Next time you add parameters, leave the old method in place but mark it as deprecated, and add the hint to use a different on instead.

Instead of removing methods, remove their _implementations_, and then mark the method in the header as deprecated,

[2019-04-04 21:48] vegaro commented on #89
Hey @davedelong thanks for reporting. It looks like these warnings started appearing with the new Xcode. We will make sure they don't show up in `2.1.0` stable version.

[2019-04-05 00:07] vegaro commented on #89
https://github.com/RevenueCat/purchases-ios/releases/tag/2.1.0 should fix this

[2019-04-05 00:07] #89 closed

[2019-04-12 14:25] tunabelly opened #93 "Add info about using for macOS + minimum requirements"
I honestly thought this repo was just for iOS and then found out it supports macOS as well. This is great since I'm going to be using it for Mac apps.

I believe it would be helpful to mention this in the readme as well as the minimum version of macOS needed, which seems to be 10.12.

And thanks for supporting both iOS and macOS, it's a nice change to see!

[2019-04-13 13:34] hiltonc opened #94 "Indicate user cancelled in restoreTransactions API"
When I call restoreTransactions I'm prompted for my app store password. If I tap cancel, I would expect an error or other indication of cancellation, but my completion is called with success.

I would like to know if the operation is cancelled so that I can know whether to show a "purchases restored" alert.

[2019-04-15 00:35] jeiting commented on #94
I'm assuming this is in Sandbox. We see a lot of strange behaviors in Sandbox.

It might be the case that the receipt gets refreshed even though you hit cancel.

What version of iOS are you using and what's your Sandbox account set up?

[2019-04-15 17:09] hiltonc commented on #94
Yes, Sandbox. This is on iOS 12.2. I've installed the app via TestFlight.

[2019-04-18 01:07] Out1and3r opened #96 "Swift 5 support"
Hi,

Could you please add Swift 5 support.

Thank you.

[2019-04-20 00:18] rkotzy commented on #94
The latest release should prevent the password prompt from displaying every time -> https://github.com/RevenueCat/purchases-ios/releases/tag/2.1.1

Just to clarify, the success / failure callbacks aren't indications that the user restored purchases, just that the `PurchaserInfo` was successfully updated with the device receipt. You should still check if the user has a specific active subscription

[2019-04-20 00:18] #94 closed

[2019-04-22 20:53] rkotzy commented on #93
Clarifying this in the readme here: https://github.com/RevenueCat/purchases-ios/pull/98

Also calling it out better in our online documentation with a dedicated navigation link: https://docs.revenuecat.com/docs/macos

[2019-04-22 20:53] #93 closed

[2019-04-26 12:22] guruz commented on #93
10.12+ actually seems wrong to me, I'm on 10.13 but the following enums are 10.14+
[code]
This was only added recently in https://github.com/RevenueCat/purchases-ios/commit/5e52bde95f9e340b4f0cb9cced7aa888c3b92faf

However I understand that this is about developer machine (having latest Apple enums) vs target machine, if I would update my macOS it would magically fix this.

Do you plan to fix this

[2019-04-26 15:28] rkotzy commented on #93
Hey @guruz. Yeah 10.12+ is the min version you can target, I see how that could be unclear. This should help clarify: https://github.com/RevenueCat/purchases-ios/pull/99

We need to require the latest XCode version sometimes so the newest `StoreKit` APIs are available.

[2019-04-26 16:57] tunabelly commented on #93
@rkotzy thanks for taking care of this one!

[2019-04-27 13:34] mikejd opened #100 "-makePurchase:withDiscount:completionBlock: finishes with error for subscribed users"
Hello,

Let's say a user has an active subscription to product X and redeems an [offer](https://developer.apple.com/app-store/subscriptions/#subscription-offers) for the same product. The operation is successful according to Apple, which is indicated by "You're all set" popup. However, we receive transaction with state `.failed` along with some generic error in `-makePurchase:withDiscount:completi

[2019-04-27 14:26] jeiting commented on #100
Hey mike!

So this is just a quirk of sandbox. Crossgrades of an active subscription have never worked properly on Sandbox and they actually still don’t with offers.

However, you should still be able to rest offers with a lapsed subscription. So, once the account has one completed cycle in that product, it should work.

We just shipped offers support yesterday so let us know if you run into anyth

[2019-04-27 14:26] #100 closed

[2019-04-27 15:03] mikejd commented on #100
Hi Jacob, thanks for reply!

Yeah, these issues look similar. Do you know if cross-grades work OK in production?

If I got it right from the docs and dev forums, user is charged immediately in case of same duration cross-grade, so I assume we can expect successful transaction. Is it the case from you experience?

[2019-04-27 16:07] jeiting commented on #100
Yeah, crossgrades work fine on production.

You might want to check out my old blog post on this:
https://medium.com/revenuecat-blog/ios-subscription-groups-explained-8c5b8325d4ab

How a user is charged depends on a bunch of factors.

[2019-05-04 20:50] enricenrich opened #102 "Allow to delete the current "purchases" instance"
Have an option in the SDK to delete / stop the current active instance of `Purchases`.

It can be useful in cases where the user signs out and you don't want to use an anonymous app user ID.

[2019-05-26 09:00] ashish-naik opened #107 "Unable to run example"
Hi,

I am getting this error immediately after running pod install.

`purchases-ios-2.3.0/Examples/SwiftExample/Target Support Files/Pods-SwiftExample/Pods-SwiftExample.debug.xcconfig: unable to open file (in target "SwiftExample" in project "SwiftExample") (in target 'SwiftExample')
`

podfile content is
[code]
I changed platform version and added use_frameworks

I know it is pod framework relate

[2019-05-26 10:48] ashish-naik commented on #86
I tried below and error went away !!
1. Went to Pods -> Info -> Configurations -> Debug
2. Change to None for Pods-SwiftExample

Can compile even after setting it back to original.

Can see the products page.

Ashish

[2019-05-26 10:49] ashish-naik commented on #107
I tried below and error went away !!

Went to Pods -> Info -> Configurations -> Debug
Change to None for Pods-SwiftExample
Can compile even after setting it back to original.

Can see the products page.

Ashish

[2019-05-26 10:49] #107 closed

[2019-09-18 07:29] WayneEld opened #124 "Another IAP API - App Store Review"
Hi Guys

I have been using revenue cat on my MacOS app Shepherd for a couple of weeks now.  Things were up and running. After updating the app with a bug fix (not related to purchases), I received this message from app rejecting the app.

"Your app enables the purchase of content, services, or functionality by means other than the in-app purchase (IAP) API.

We noticed that your app or its metadat

[2019-09-19 01:14] rkotzy commented on #124
Usually that message is if you have messaging or a link to purchase content outside of your app. Are you using Stripe or any other payment gateways besides IAP? Did they include a screenshot?

[2019-09-19 06:58] WayneEld commented on #124
You are 100% correct. There was a browser link to FAQs and a help guide on the app's website. From there you could further find an older link to pricing that was not the same as the stated price. It was a static older price. (not stating the tiers per Apple's and further Revenue Cat's API). Thanks for the help.

[2019-09-19 06:58] #124 closed

[2019-09-20 20:14] acarrera94 opened #125 "Swift Package manager support"
Xcode 11 comes with swift package manager, a lot easier than dealing with cocoapods or carthage, all of our other packages are on SPM, would love to see this one be there as well!

[2019-09-20 20:50] acarrera94 commented on #125
Here's a working `Package.swift` to get started with, just add the test frameworks
[code]

[2019-09-20 20:51] acarrera94 commented on #125
Looks like OHHTTPStubs is working on adding SPM as well.

[2019-09-23 15:17] jeiting commented on #125
Hey Andre!

I'm not too familiar with SPM yet, but as long as it supports Objective-C frameworks we'd like to support it.

I'll leave this ticket open to track progress.

[2019-09-30 21:07] vegaro commented on #125
Hi! I have pushed a branch `feature/spm-support` to add support for this. I have tested it and it looks fine, but it good be good if it could be tested by someone else. Can you take a look and let us know if it's working as expected?

Thanks!!

[2019-10-01 00:34] acarrera94 commented on #125
I’ll take a look this week!

[2019-10-05 10:28] khanov opened #131 "My own Package conflicts with RCPackage"
Hi,

I'm trying to migrate to the new offerings system in a Swift project that has `struct Package`. It obviously conflicts with `RCPackage`, which is defined as `Package` for Swift. I installed RevenueCat via Cocoapods.

I tried to use `Purchases.Package` instead, but Xcode gives me the following error: `'Package' is not a member type of 'Purchases'`.

I'm not sure if this is an issue of RevenueC

[2019-10-06 18:29] jeiting commented on #131
Hey Khanov,

Thanks for the issue and the project.

I think we're going to need to make Package, and some of the other export types, nested under purchases so that this works

```var packages: [Purchases.Package]? = nil```

It's a good time to make this change since it's still beta. If you want a quick hack, change line 42 in `RCPackage.h` to the following:

`NS_SWIFT_NAME(Purchases.Package)`

We'

[2019-10-07 06:21] khanov commented on #131
That's what I did. Thanks, Jacob!

[2019-10-07 17:56] acarrera94 commented on #125
@vegaro it looks good! Everything is working in my project.

[2019-10-07 22:03] acarrera94 commented on #125
It looks like the test library is breaking SwiftUI canvas. See https://github.com/sunshinejr/SwiftyUserDefaults/issues/211

[2019-10-07 22:08] vegaro commented on #125
Interesting. Thanks for following up. It looks like we could do something like this https://github.com/Moya/Moya/pull/1923/files in the meantime... I will take a look this week

[2019-10-23 16:14] Fl0p opened #135 "[Crash] SKProductRequest for removed product (invalid product) but it still present in receipt"
This line will call with empty array:
https://github.com/RevenueCat/purchases-ios/blob/master/Purchases/RCStoreKitRequestFetcher.m#L172

And it will cause crash here
https://github.com/RevenueCat/purchases-ios/blob/3.0.0-beta/Purchases/Public/RCPurchases.m#L955

[2019-10-23 16:19] gonchar commented on #135
+1

[2019-10-23 16:20] jeiting commented on #135
Yeah, we can't assume the products array isn't empty. This line here has that implicit assumption:
https://github.com/RevenueCat/purchases-ios/blob/3.0.0-beta/Purchases/Public/RCPurchases.m#L922

We'll whip up a fix.

[2019-10-23 17:39] gonchar commented on #135
Hey @jeiting! Really sorry to bother you with these kind of questions, but it will help us to schedule our release better. Do you have any rough estimates for fixing this issue or releasing milestone 3.0?

Thanks in advance! Our team is very excited to start using RevenueCat!

[2019-10-24 07:36] Fl0p commented on #135
❤️

hotfix
[code]

[2019-10-25 20:43] vegaro commented on #135
Thanks for reporting! Just made the release https://github.com/RevenueCat/purchases-ios/releases/tag/3.0.0-beta.2 that should include the fix

[2019-10-25 20:43] #135 closed

[2019-10-25 20:44] vegaro commented on #131
Thanks for reporting the issue. Just made a release that should have fixed this https://github.com/RevenueCat/purchases-ios/releases/tag/3.0.0-beta.2

[2019-10-25 20:44] #131 closed

[2019-10-31 19:40] cliftonlabrum commented on #125
Just adding my voice that official SPM support would be fantastic. 🙂I'll try the `feature/spm-support` branch mentioned above. Thanks!

[2019-10-31 20:20] vegaro commented on #125
Just pushed an update to `feature/spm-support` and it looks like that SwiftUI canvas issue. Can you verify it works for you now @acarrera94 ?

[2019-10-31 20:58] acarrera94 commented on #125
Sure I’ll take a look tomorrow.

[2019-11-04 20:14] acarrera94 commented on #125
@vegaro Feature branch is working great including SwifUI canvas!

[2019-11-05 22:22] vegaro commented on #125
I just released 2.6.1 that should include SPM support. Thanks for collaborating on this issue.

[2019-11-05 22:22] #125 closed

[2019-11-05 22:47] cliftonlabrum commented on #125
@vegaro Thank you for this! It might be worth mentioning in the **Installation** section of the readme that SPM is an option. 🙂

[2019-11-20 18:14] jkichline opened #141 "When retrieving cached purchaser information after clearing NSUserDefaults, it causes a crash since appUserID is nil."
- (nullable NSData *)cachedPurchaserInfoDataForAppUserID:(NSString *)appUserID
{
	if(appUserID) { // Added this...
    	return [self.userDefaults dataForKey:[self purchaserInfoUserDefaultCacheKeyForAppUserID:appUserID]];
	} // Added this...
	return nil; // Added this...
}

[2019-11-20 18:16] jkichline commented on #141
Basically if appUserID is nil, it causes a crash as a method appends the appUserID to a base key.  If it's nil, that crashes... so I just check for the presence of an appUserId to prevent the crash.

[2019-11-20 18:19] jeiting commented on #141
Hey! We'll look into this right away.

What do you mean by "clearing NSUserDefaults"?

The SDK should work with a blanked out `NSUserDefaults`.

[2019-11-20 18:21] jkichline commented on #141
Hey thanks! Well we have a "Reset Settings" tool in our app that goes through NSUserDefaults and clears it out so I'm not really sure what caused that appUserId to become blank in the process.  Maybe it stores that in NSUserDefaults, but the SDK state was still thinking it had one, I'm not sure exactly.

[2019-11-20 18:25] jeiting commented on #141
Ok, so this crashed during the same session as when you cleared the defaults?

Restarting the app, everything worked ok yea? Just want to make sure we understand the severity of the issue.

We hadn't considered somebody deleting our cache keys from underneath us mid-session.

[2019-11-20 18:27] jkichline commented on #141
Yes, once it was restarted it works fine. Understood, the "pulling the rug out from underneath you" part probably wasn't expected ;) But just adding a little check when appending the appUserId to make sure it isn't nil first would probably be easy defensive coding.

[2019-11-29 12:59] 0xacdc opened #142 "offerings vs purchaserInfo"
Hi !
How can I determine what exactly subscription is active now, if when I get all offers using `Purchases.shared.offerings` I get all identifiers like:
  - 0 : "$rc_monthly"
  - 1 : "$rc_annual"

and when I'm fetching purchaseInfo using `Purchases.shared.purchaserInfo`, the identifiers are the ones associated with my products, like:
  - 0 :com.product.subscription.month
  - 1 : com.product.subsc

[2019-11-29 13:10] 0xacdc opened #143 "original_transaction_id (OTI)"
Can you please add to your SDK original property from apple receipt validation `original_transaction_id` ?

It is really necessary, because having all users marked as anonymous, it seems to be the only persistent value witch can be used as userID

thanks

[2019-11-29 13:25] #142 closed

[2019-11-29 13:28] 0xacdc commented on #142
My mistake, from `Purchases.shared.offerings` I can get [RCPackage], where RCPackage has the SKProduct object

[2019-12-06 02:14] roostr opened #144 "Cannot upload Carthage build to App Store because it includes x86_64, i386"
Hi,

I'm trying to upload a beta build of my app, which I just integrated with RevenueCat, to App Store Connect. I'm using Carthage to build the 3.0.0 version of RevenueCat.

I get this error on submission:

[code]

I'm using Xcode 11.2.1, and I believe my command-line build environment is set up properly:

[code]

I noticed that you recommend using the `--no-use-binaries` flag in Carthage, and I'

[2019-12-06 17:37] vegaro commented on #144
Hi @roostr, when using Carthage to add any framework you have to add a build phase to strip the frameworks. On your application target "Build Phases" settings tab, add a "New Run Script Phase" by pressing the + button with the content `/usr/local/bin/carthage copy-frameworks`. You also need to add the paths to the frameworks you want to use under "Input Files":

[code]

This script is a workaround

[2019-12-06 17:37] #144 closed

[2019-12-06 18:08] roostr commented on #144
Thanks @vegaro!

I did forget this step. I had later fixed it, but I *forgot* to remove it from my "Embed Frameworks" step. So it looks like I was embedding it twice, and one of those was the unstripped binary.

All's well now, thank you! 🙌

[2019-12-06 19:35] acarrera94 opened #145 "Add combine extensions to api calls"
I'd love to see combine added to this library. https://developer.apple.com/documentation/combine

All of the networking code in my app uses combine except for this library. This would also be helpful in composing these api calls. This could be done just adding swift extensions to the current library.

[2019-12-06 23:29] jeiting commented on #145
Hey! Combine looks cool. Would it make more sense to have this as a separate library with purchases as a dependency?

The SDK isn't written in Swift, so we'd like to keep it out of the deliverable until we need to.

[2019-12-07 03:23] acarrera94 commented on #145
That would work great for us!

On Fri, Dec 6, 2019 at 4:29 PM Jacob Eiting <notifications@github.com>
wrote:

[2019-12-25 11:59] heumn opened #151 "Crash on logout call to Firebase auth with proceeding Purchases.shared.reset"
Calling Auth.auth().signOut() crashes with the following stack trace if you have added an observer to

`Auth.auth().addStateDidChangeListener`

and call `Purchases.shared.reset` as per [your guide](https://docs.revenuecat.com/docs/firebase)

[code]

I have enough bugs that I produce myself, so would be awesome to not have to deal with yours as well ;)

[2019-12-26 11:03] vegaro commented on #151
Are you by any chance clearing NSUserDefaults when signing out the user?

[2019-12-26 11:40] heumn commented on #151
Yes!

[2019-12-26 11:51] vegaro commented on #151
We hadn't considered somebody deleting our cache keys from underneath us mid-session. Doing so will leave the SDK in a state that can only be fixed by calling `configure` again since we rely on different data we write to NSUserDefaults on initialization.

Can you, instead of clearing the whole NSUserDefaults, remove the specific keys you are using?

[2019-12-26 12:40] heumn commented on #151
Thanks!

Of course, I could, but isn't it a bit dangerous as a third party SDK to rely upon NSUserDefaults:

- always be available (it is not, see https://forums.developer.apple.com/thread/15685#discussion-45849 for example)
- not change from overwrites of the client app

🤔

Not trying to be difficult, I will of course remedy this crash by doing as you propose. Just want to have a discussion so I

[2019-12-29 07:42] jln19 opened #153 "'Purchases' is not a member type of 'Purchases'"
Hi, super excited to have found this potential IAP solution! But straightaway I'm getting an error:

[code]

The error:
[code]

Edit: Seems I get this error upon any attempt at using the API:

[code]

[2019-12-29 22:34] jln19 commented on #153
Hmm. Running this a day later with no changes and the error has gone away...

[2019-12-29 22:48] jln19 commented on #153
I also tried creating a brand new project in Xcode and only adding the following code in didFinishLaunching (after installing the Pod). I still get the same error on a breakpoint on if let packages = ...

[code]

[2019-12-30 20:37] jeiting commented on #153
What version of Purchases is actually installed? Your cocoapods might be out of data and these examples reference a more recent version of Purchases.

[2019-12-30 20:59] jln19 commented on #153
@jeiting `pod 'Purchases', '3.0.0'`

[2019-12-30 21:01] jeiting commented on #153
Is it possible your Xcode intermediates are in a bad state?

Have you tried deleting DerivedData?

[2019-12-30 21:11] jln19 commented on #153
So after deleting DerivedData, this no longer shows an error:

[code]

However, when I try this:

[code]

If I do `po offerings` I get

[code]

If I hover over `offerings` in Xcode I get the error:

[code]

[2019-12-30 21:21] jln19 commented on #153
I think the "expression produced error" thing may be a Swift/Xcode issue. I think the real problem is that I'm not getting any offerings. I have them set up in the admin as well as marking one of them as "current". DEBUG shows that I have invalid product identifiers. I've triple-checked those though and I can successfully pull products down from native IAP code and SwiftyStoreKit. I submitted a te

[2020-01-01 00:16] jln19 opened #155 "Invalid Product Identifiers?"
[code]

I have ensured my products are correctly configured in ASC. They are in the "Ready to Submit" state. I can use these same product identifiers to successfully pull products via SwiftyStoreKit and through Apple's API. This leads me to assume that the problem is with my configuration in RevenueCat. But I've gone through the documentation multiple times now over several days and I can't figure

[2020-01-02 09:22] vegaro commented on #155
Hi @jln19 ! Two things I would suggest are: first, use a real device, and second, double check your bundle id.

Since this looks more like a configuration issue, can you open a ticket with our support instead?   We will be able to offer you better support that way.

Thanks!

[2020-01-02 09:25] vegaro commented on #153
Closing this since it looks like it's been solved and another issue has been opened.

[2020-01-02 09:25] #153 closed

[2020-01-02 09:31] vegaro commented on #90
Thanks for opening this @davedelong and sorry we broke the compilation that time. We took notes of your recommendations and are actively working on avoiding this type of situation.

I am going to close this issue to keep things tidy in the repo if that's fine.

Cheers!

[2020-01-02 09:31] #90 closed

[2020-01-02 09:31] #96 closed

[2020-01-02 16:18] jln19 commented on #155
Hi @vegaro , I get the same errors whether on simulator or device. I opened a support ticket about 5 days ago but have not received any response, and have also tried email, so I thought I'd try here. Maybe everyone has been out of town for New Years, so still hoping out hope for some help... 🤞

[2020-01-02 18:28] jeiting commented on #155
Hey!

I think I saw your email to me. Sorry, I've been out of the office and
should have forwarded it to support.

I checked Zendesk and couldn't find your ticket but maybe I just missed it.
ᐧ

On Thu, Jan 2, 2020 at 11:18 AM jln19 <notifications@github.com> wrote:

[2020-01-02 19:13] jkichline opened #156 "Crash when retrieving purchaser information from cache"
I have a crash occurring here since appUserID is nil for some reason...

RCDeviceCache.m (Line 88)
- (NSString *)purchaserInfoUserDefaultCacheKeyForAppUserID:(NSString *)appUserID {
    return [RCPurchaserInfoAppUserDefaultsKeyBase stringByAppendingString:appUserID];
}

Should at least protect from nullable input like this.

- (NSString *)purchaserInfoUserDefaultCacheKeyForAppUserID:(NSString *)ap

[2020-01-12 09:32] raphaelcruzeiro commented on #155
Just adding my 2 cents here as a new RevenueCat user: I often see this error on a recently installed (or updated) simulator. Quitting the simulator and re-launching makes the product fetching work as expected again.

[2020-01-13 19:19] vegaro commented on #155
Yes, the simulators have been really buggy when fetching products, something related to StoreKit and not RevenueCat itself, it's better to test on real devices. Have you been helped via other ways @jln19 ? If that's the case, please close this issue. Thanks!

[2020-01-14 18:20] mkalayci35 opened #157 "swiftUI example"
please add swiftUI example

[2020-01-23 16:12] jln19 commented on #155
Eventually fixed this by changing my identifiers to `MONTH_SUB` instead of `com.<myapp>.MONTH_SUB`

[2020-01-23 16:13] #155 closed

[2020-01-24 21:46] aboedo commented on #151
@heumn Sorry for the delay in the response. You're right, relying on `NSUserDefaults` is a bit dangerous. We're looking into moving out of `NSUserDefaults` and into another form of storage that's specific to the SDK so that we prevent this kind of collision in the future. We'll keep this issue open until we have a fix for this. Thanks for reporting!

[2020-01-24 21:47] aboedo commented on #141
@jkichline Sorry for the delay in responding. We're looking into moving out of NSUserDefaults and into another form of storage that's specific to the SDK so that we prevent this kind of collision in the future. We'll keep this issue open until we have a fix for this. Thanks for reporting!

[2020-01-24 21:50] aboedo commented on #156
@jkichline might this be related to https://github.com/RevenueCat/purchases-ios/issues/141? It might be another manifestation of the same issue - the SDK currently relies on `NSUserDefaults`, so if it's flushed, we might be missing the `appUserID`.
If it is indeed related, then as I mentioned on the other issue, we're looking to move away from `NSUserDefaults`. In the meantime, one way to work aro

[2020-01-25 00:45] vegaro commented on #157
Adding a full SwiftUI example is not part of our roadmap at the moment. Is there any particular question you have regarding the integration of our SDK?

Thanks!

[2020-01-25 05:22] #157 closed

[2020-02-02 01:44] deejay99 opened #169 "library not found for -lPurchases"
Getting the following error when running the swift example app:

ld: warning: directory not found for option '-L/Users/Damian/Library/Developer/Xcode/DerivedData/SwiftExample-ezbgahlnwhanmghczzjmgcifqczs/Build/Products/Debug-iphoneos/Purchases'
ld: library not found for -lPurchases
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2020-02-03 14:27] aboedo commented on #169
Hi @deejay99,

Thanks for reporting.

I just tried a clean clone of the project, and I couldn't reproduce this - it worked correctly for me.
I downloaded the project, opened the swift example, `pod install`, replaced the API key and ran, both on physical device and on simulator, no issues.

Could you provide more detail for your steps?

Is `libPods-SwiftExample.a` listed in "Link Binary With Libra

[2020-02-03 15:31] deejay99 commented on #169
Hi

Figured it out in the meantime, was accidentally working formt he xcodeproj instead of the xcworkspace so the pod folder was not included… works well now.

Best,
Damian

[2020-02-03 15:56] aboedo commented on #169
cool, glad it worked 👍. I'll close the issue

[2020-02-03 15:56] #169 closed

[2020-02-06 19:43] aboedo commented on #156
@jkichline update on this: The SDK allows for you to specify a separate instance of `NSUserDefaults` to be used.
By specifying a different instance, you can safely delete your app's standard UserDefaults without running into this issue.
Note that if you want to delete the info stored on the RevenueCat SDK, you have to call `resetWithCompletionBlock`.

Here's an example of sending in a different us

[2020-02-06 19:44] aboedo commented on #151
@heumn update on this: The SDK allows for you to specify a separate instance of `NSUserDefaults` to be used.
By specifying a different instance, you can safely delete your app's standard UserDefaults without running into this issue.
Note that if you want to delete the info stored on the RevenueCat SDK, you have to call `resetWithCompletionBlock`.

Here's an example of sending in a different user d

[2020-02-06 19:48] aboedo commented on #141
replied on https://github.com/RevenueCat/purchases-ios/issues/156, you should be able to pass in a different UserDefaults instance for RevenueCat to use and this issue shouldn't happen anymore.

[2020-02-06 19:54] heumn commented on #151
This makes much more sense :) Thanks for the update and thanks for an **awesome** service

[2020-02-06 19:56] jkichline commented on #156
How does this effect currently active apps and is there a way to transition to the new user defaults? Also, do you have a prefix you use for RevenueCat specific keys? I can implement that into my "reset settings" tool to avoid wiping out RevenueCat...

[2020-02-07 13:54] aboedo commented on #156
All of the keys used by the SDK are prefixed with `com.revenuecat.userdefaults`, for example `com.revenuecat.userdefaults.appUserID`.
If you avoid deleting those, that’ll probably be the easiest and safest path for an existing app.
Setting a different domain should be safe, but note that the purchases instance won’t see any stored data from the standard domain and will assume that the user hasn’t

[2020-02-07 14:08] aboedo commented on #151
one last note here: if you change the domain on an existing app, the first time it runs, the SDK won't find the existing data, so it'll be the equivalent of calling `resetWithCompletion`. Make sure to pass in the `appUserID` if your user is logged in. After that it will work normally.

[2020-02-09 00:02] blainesolomon opened #176 "Swift Package Manager: 'RCDeviceCache.h' file not found"
Everything was working well until I opened the project today. Looks like it's running 3.0.3 now.

[2020-02-10 08:34] andreagelati commented on #176
I have the same issue with 3.0.3... 'RCDeviceCache.h' file not found

[2020-02-10 12:54] aboedo commented on #176
I'll check it out. Are you using Cocoapods?

[2020-02-10 13:30] aboedo commented on #176
I just tried installing 3.0.3 on a clean project with Cocoapods and it seems to work correctly.
There was some reorganization of files for 3.0.3, which involved updating `source_files` in the Podspec.
This seems like a likely culprit.
`RCDeviceCache.h` was moved into a group, so my thinking is that there might be something cached on your computer that would prevent Cocoapods from realizing that it

[2020-02-10 13:48] aboedo commented on #176
update: I managed to reproduce with swift package manager, I'll dig around to see what the problem is

[2020-02-10 14:27] aboedo commented on #176
I made a fix for it, PR: https://github.com/RevenueCat/purchases-ios/pull/177

Once the PR gets merged, it'll be available as version 3.0.4.
In the meantime, you can either downgrade to 3.0.2 or set the Version Rules to the fix branch, `fix/swift_package_manager_missing_cache_group`.

<img width="1014" alt="Screen Shot 2020-02-10 at 11 26 13 AM" src="https://user-images.githubusercontent.com/39226

[2020-02-10 18:15] aboedo commented on #156
closing for now since there's a workaround, but feel free to reopen if you run into any more issues with this

[2020-02-10 18:15] #156 closed

[2020-02-10 18:16] aboedo commented on #151
closing for now, feel free to reopen if you run into any more issues with this

[2020-02-10 18:16] #151 closed

[2020-02-10 18:17] aboedo commented on #141
closing as a duplicate of #156

[2020-02-10 18:17] #141 closed

[2020-02-17 14:23] aboedo commented on #176
version 3.0.4 is out and it includes the fix for this. Check it out!
Thanks again for reporting!

[2020-02-19 11:01] andreagelati commented on #176
Thank you @aboedo, I have updated to version 3.0.4 and I can confirm the issue is fixed. 👍

[2020-02-19 12:36] aboedo commented on #176
awesome! glad it's working now 👍

[2020-02-19 12:36] #176 closed

[2020-02-20 06:51] WillBishop opened #185 "Unable to compile in Xcode 11.4 Beta 2"
Hey!

I use purchases in an iPadOS app and ever since Xcode 11.4 Beta 1 (and persisting through to Beta 2), I haven't been able to compile my app.

Upon compiling, I get 7 errors
<img width="375" alt="image" src="https://user-images.githubusercontent.com/17292672/74908185-1f01c200-5405-11ea-9e90-775650e65ebd.png">

[2020-02-20 06:53] vegaro commented on #185
How are you adding our SDK to your app?

[2020-02-20 06:56] WillBishop commented on #185
Through SPM.

After updating to 3.0.4, the above errors go away, but are replaced with 11 more.

![image](https://user-images.githubusercontent.com/17292672/74908574-165dbb80-5406-11ea-9fc1-e4b335f788a7.png)

[2020-02-20 11:14] andreagelati commented on #185
The same here, same kind of errors.

[2020-02-20 17:00] aboedo commented on #185
I'm able to reproduce, although unfortunately I don't have a fix yet.
This only happens in Swift Package Manager, in my testing Cocoapods and Carthage work on Xcode 11.4 beta 2, so one solution is to use them instead until this is fixed if you're using Xcode 11.4

[2020-03-03 04:53] shibin919 commented on #153
Unfortunately, I'm hitting the same thing...

[2020-03-05 01:50] lisindima commented on #185
Hi everyone, this bug is fixed for me with Xcode 11.4 beta 3, but such a warning appears during assembly.
<img width="1222" alt="Снимок экрана 2020-03-05 в 08 49 03" src="https://user-images.githubusercontent.com/43087859/75939981-65075d00-5ebe-11ea-8828-258adbd02b47.png">

[2020-03-05 15:44] aboedo commented on #185
Thanks for the heads up @lisindima. I believe Xcode 11.4's SPM seems to have changed the way that it determines which source files to compile, so the warning is just saying "this is a plist, I'm not sure how to compile this".
It should still work fine, however, I'll add an exception for that file so that the warning goes away. There's a chance that it goes away by the next Xcode release, though.
T

[2020-03-05 19:51] aboedo commented on #185
indeed, adding
[code]
in the target definition in Package.swift does do get rid of the warning. This being a minor release, I think they'll probably fix the issue on Xcode side before the final 11.4, since the overall spec shouldn't have changed. I'll add the change regardless, as a part of #183

[2020-03-11 09:22] kerimdeveci opened #197 "'Purchases' is not a member type of 'Purchases'"
Hi, i recently updated my Purchases pod version 2.6 to 3.0.4. I also changed getting offerings method to this :
[code]

but i couldn't be able to get current offerings.
i tried to delete derived data , deintegrating pods and installing again, deleting build folders, but no conclusion.
the error is :
[code]

[2020-03-11 15:30] #143 closed

[2020-03-12 17:18] aboedo commented on #197
I'm a bit perplexed here - I just tried this code on the sample app and it ran with no issues on 3.0.4.
How are you importing Purchases? Also, are you specifying the type `Purchases.Offerings` anywhere on your code?

[2020-03-12 18:17] kerimdeveci commented on #197
i was not specifying the type `Purchases.Offerings` and yes i imported Purchases. This is an old project updated to v3.0.4 Purchases.
I think problem occurs with my cocoapods setup. or maybe offerings arranged on revenucat portal with old version?
Anyway i downgraded my versions to 2.6 . now using 2.6 with no problem . i get entitlements with
[code]
this method.
thank you very much for answering.

[2020-03-12 18:18] #197 closed

[2020-03-12 20:13] aboedo commented on #197
I just ran into this: repro'd by using "print description" from Xcode on the offerings object.
In my case, it doesn't happen if you just print through either code or through `po`.
I believe it might be related to this known bug in Xcode: https://forums.developer.apple.com/thread/123253

[2020-03-13 11:29] kerimdeveci commented on #197
it might be this issue coz i encountered this problem in this project many times.  thank you very much again

[2020-03-13 14:32] aboedo commented on #197
it seems like the underlying issue is that there's an inconsistency in lookup strategies, where depending on the case the lookup of Purchases.Purchases.Offerings might be targeting either the module or the class.
This would ordinarily not be a problem, but given that both the framework and the class have the same name, it can lead to this issue. We're studying alternatives.

In the meantime, could

[2020-03-19 17:09] mecid opened #207 "How to use the library in watch app?"
Hi, I have the error with version 4.0 when running it with the latest Xcode beta.

Showing Recent Messages
/Users/majid/Library/Developer/Xcode/DerivedData/SleepBot-fcdzzaaaglxzwpcmtdyrkdzbxapm/SourcePackages/checkouts/purchases-ios/Purchases/Public/RCPurchases.m:27:9: 'RCDeviceCache.h' file not found

[2020-03-19 17:15] aboedo commented on #207
Hi! We're currently working on WatchOS support. You can follow the changes in #183, and see a sample watch app in #182.
As of last week's developer seed, though, purchases on watchOS weren't functional because of what seems to be a bug on watchOS.
I've been trying to check the current seed, but Apple's Sandbox environment is having issues right now, so I can't say for certain whether the bug in wa

[2020-03-20 19:41] mecid commented on #207
@aboedo Hi, thanks for your reply. I hope to get it asap. I am going to implement my in-app subscriptions for Apple Watch also.

[2020-03-20 19:58] aboedo commented on #207
if you want to start playing around with it and setting it up in the meantime, feel free to check out the `feature/universal_purchases` branch

[2020-03-20 22:58] mecid commented on #207
@aboedo Awesome! thanks.

[2020-03-24 19:03] mecid commented on #207
@aboedo Xcode 11.4 is already available. Are you going to merge feature/universal_purchases branch?

[2020-03-25 18:19] aboedo commented on #207
hi @mecid! the branch has been merged into master, try it out!

[2020-03-25 18:20] aboedo commented on #207
it'll also be a part of the next release, 3.2.0

[2020-03-25 18:21] aboedo commented on #185
update here: the relevant changes have been merged into master. They'll also be a part of the next release, 3.2.0, which will be out soon.

[2020-03-25 19:03] mecid commented on #207
@aboedo awesome! thanks. I think we can close the issue.

[2020-03-25 23:41] mecid commented on #207
@aboedo ok, I'm updated to the latest version of the library. I use the same API key in watch app.
I call purchaserInfo but returns an empty set of active subscriptions. On the other hand, I have active sandbox subscription in the iOS part of the app. Should I configure somehow universal purchases in RevenueCat dashboard?

[2020-03-26 00:16] vegaro commented on #207
@mecid Are you using the same app user ID for both the watch and the iOS app? If the app user IDs are different, RevenueCat will return an empty set of active subscriptions (until you restore or purchase again)

[2020-03-26 09:17] Timac opened #215 "warning: nil passed to a callee that requires a non-null parameter"
**Steps to reproduce:**
- Open the Purchases.xcodeproj project in Xcode 11.4
- Choose an iOS Simulator as target
- Perform a static analysis with Product > Analyze

**Result:**
You see 3 warnings "nil passed to a callee that requires a non-null parameter":

1. purchases-ios/Purchases/SubscriberAttributes/RCSubscriberAttributesManager.m:81:5: warning: nil passed to a callee that requires a non-null

[2020-03-26 09:24] Timac commented on #215
A pull request has been submitted: https://github.com/RevenueCat/purchases-ios/pull/216

[2020-03-26 13:58] aboedo commented on #215
Hi! Thanks for reporting and opening the PR! I self-assigned to keep track of it. And I reviewed the PR, one small change and it's good to go.

[2020-03-26 13:59] aboedo commented on #185
update again: the changes have been released 🎉 . Closing this issue

[2020-03-26 13:59] #185 closed

[2020-04-01 12:54] mecid commented on #207
@vegaro restoring doesn't work for me. I've got these logs.
[Purchases] - INFO: Unable to load receipt, ensure you are logged in to the correct iTunes account.
[Purchases] - INFO: App running on sandbox without a receipt file. Restoring transactions won't work unless you've purchased before and there is a receipt available.

[2020-04-01 20:21] aboedo commented on #215
Release 3.2.2 is out, with the fix included. Check it out!
And thanks again for bringing this to our attention, and going above and beyond by opening a PR with the fix!!
Closing this as solved

[2020-04-01 20:21] #215 closed

[2020-04-05 14:58] ekurutepe commented on #155
I am seeing the same issue. It happens sporadically like 20-30% of the time.

@jln19 did changing your product identifiers fix this for you permanently? It's not really a solution for me since this a live app with live products that I'm porting to RevenueCat. So I'd need to create new products etc. etc. I'd love to avoid that.

[2020-04-06 21:42] aboedo commented on #207
I haven't gotten purchases to work on the watch yet either. It seems that there's an underlying error when trying to refresh receipts:
the `SKReceiptRefreshRequest` request fails, with error:
[code]
I filed a radar a few weeks ago related to these issues, `FB7622829`. I'll update here as soon as I have more info on what's going on.

[2020-04-06 22:43] mecid commented on #207
@aboedo thanks for the information.

[2020-04-07 18:16] aboedo commented on #207
to provide more clarity around this:
- Purchasing itself does work, in that you do get to make a purchase.
- However, as soon as a purchase is made, `purchases-ios` will get the receipt for validation purposes. This is the part that seems to be broken in watchOS - `SKRefreshReceiptRequest` fails with the error I mentioned in my previous comment. I'll continue to try out beta seeds as they come out

[2020-04-23 20:38] imtherb91 opened #224 "Purchaser info not returning correct "isActive" value for entitlement on WatchOS"
I am running v3.2.2 on my iOS and WatchOS targets with the same appUserID value. After making a sandbox subscription purchase on iOS, the purchaserInfo on iOS returns the correct entitlement with "isActive" true. However on WatchOS, it returns that same entitlement with "isActive" false.

Oddly enough, WatchOS does list the expirationDate as a time in the future, indicating it is an active entitle

[2020-04-23 20:42] imtherb91 commented on #224
Update: it eventually did begin returning isActive = true on WatchOS. There must just be about a 10 min delay between iOS and WatchOS?

[2020-04-29 13:13] gapl opened #225 "Fatal Exception in `RCPurchases.m`"
We're seeing a `Fatal Exception` in our latest app version.

## Details

* iOS v13.3
* App in foreground state
* Crashlytics assumes device is jailbroken
* SDK `revenuecat/purchases-ios v3.2.2`, installed through Carthage

## Stack trace

[code]

[2020-04-29 13:42] aboedo commented on #225
Hi! thanks for reporting.
It looks from the crash log like the line crashing is
https://github.com/RevenueCat/purchases-ios/blob/3.2.2/Purchases/Public/RCPurchases.m#L558

And the reason is that SKPayment's productIdentifier is nil.

I'm investigating when this could happen, I'll update when I know more.

[2020-04-29 13:45] gapl commented on #225
Keep in mind that Crashlytics assumes it's a jailbroken device, so the user might've been trying to crack the app.

[2020-04-29 15:00] aboedo commented on #225
yeah, that might be the reason for the payment's `productIdentifier` being nil, I'm not sure.
However I did spot a bug where the code could be handling this case better, I made a PR for the fix.

[2020-04-30 18:19] akhilpothana commented on #225
I'm having a similar issue. We have an existing manual implementation for handling in-app purchases. We integrated RevenueCat in observer mode with the intention of sending events straight to Mixpanel. The app occasionally crashes at launch, and also occasionally when making a purchase.

Error is - `Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlacehol

[2020-04-30 19:24] aboedo commented on #225
@akhilpothana thanks for reporting! it's related, yes, it's another place where the code crashes if a product's productIdentifier is nil (it should never be, but in practice, storeKit has its quirks).
I'll add a fix for that one as well.

[2020-04-30 19:36] akhilpothana commented on #225
@aboedo Awesome. Thanks, we really appreciate your work! Do you know of any temporary workaround? And if not, when do you you think your PRs may be approved and merged?

[2020-04-30 19:45] aboedo commented on #224
🤔 Is this behavior consistent?

If so, I _think_ this might be a case where the watch app had cached purchaser info.
The apps are independent as far as RevenueCat data goes, so they'll each have a purchaser info cache.

One way to test if this is the case is to:
- start watch app
- start iphone app
- buy on iphone
- watch app will not know about the purchase yet
- terminate watch app (press the si

[2020-04-30 22:21] aboedo commented on #225
The PR is already merged, we’ll mst likely make a build with it tomorrow

[2020-04-30 22:22] aboedo commented on #225
@akhilpothana are you seeing this often? I’d expect a low volume I it’s due to storekit quirks

[2020-04-30 22:40] akhilpothana commented on #225
Awesome! I’m going to pull from master and test with that for now.

Regarding the frequency of the crash, hard to say for sure. We have a monthly and annual subscription both in the same subscription group. In my testing, I was switching between plans on each fresh install. At first, the app was crashing in the same way each time I subscribed. Then it suddenly stopped crashing. At one point the ap

[2020-05-01 03:26] akhilpothana commented on #225
@aboedo I just ran the same tests after pulling in your most recent changes from the master branch, and I'm running into the same issue. I noticed something else that might be useful. The value for `appUserID` is `nil` and doesn't seem like it's supposed to be. That seems to be the `nil` value that the compiler was complaining about the error message I posted earlier.

The value for `appUserID` th

[2020-05-01 14:50] aboedo commented on #225
@akhilpothana yeah, your case is definitely not storekit-related. appUserID should never be nil, so there's something else going on.
Are you clearing userDefaults at any point?

[2020-05-01 15:46] akhilpothana commented on #225
@aboedo We are not. We're writing some values to `UserDefaults` around the same time, but never clearing the whole thing.

[2020-05-01 16:22] imtherb91 commented on #224
Ah that makes sense, yep that must have been it. Thank you very much for the in-depth response!

[2020-05-01 17:00] akhilpothana commented on #225
@aboedo is the `appUserID` cached to `UserDefaults immediately after this call? If so, then there must be something going on in our app that's clearing out parts of UserDefaults. Super weird.

`Purchases.configure(withAPIKey: "public_sdk_key", appUserID: "my_app_user_id")`

[2020-05-02 13:52] aboedo commented on #225
yep, it gets cached within that method.
I'm going to do some improvements on our side so that we detect the moment the appUserID is cleared and issue out a clear warning so that this isn't as obscure and hard to find.

[2020-05-03 12:47] rjstelling opened #230 "New Features Trello Link Broken"
The link to the "New Features" Trello board is broken.

Link:
https://trello.com/b/RZRnWRbI/revenuecat-product-roadmap

I'm assuming this has either been removed or made private. Either way it should probably be removed from the docs.

[2020-05-03 17:55] akhilpothana commented on #225
After some investigation, we found the issue had something to do with throwing > 4MB at UserDefaults which absolutely bewilders me. I've never heard of this before, but this was the error Xcode was showing:

[code]
Admittedly we were persisting data in there that most people would probably know is a bad idea, but maxing out at 4MB seems crazy. So somehow once it hit 4MB of storage, random key-valu

[2020-05-04 01:25] vegaro commented on #230
We weren’t doing a good job of keeping it up to date and have decided to sunset it for now. I will remove it from the docs. Thanks for opening this issue

[2020-05-04 12:39] aboedo commented on #225
ohhh wow that's surprising! I'm glad you caught it.
I knew there was a limit for tvOS (512kb) but never heard of a limit for other platforms before, I couldn't even find docs for it https://developer.apple.com/documentation/foundation/nsuserdefaultssizelimitexceedednotification?language=objc.

I'm going to close this out for now, but I'll still add the notification when the userDefaults are delete

[2020-05-04 12:39] #225 closed

[2020-05-05 18:18] #230 closed

[2020-05-05 18:38] aboedo commented on #58
closing this out due to inactivity.

[2020-05-05 18:38] #58 closed

[2020-05-05 18:42] aboedo commented on #207
update here: on the latest beta, `SKRefreshReceiptRequest` doesn't actually fail, but the receipt is still empty. I'll continue to update this tickets as new betas come out.

[2020-05-06 10:07] ozgurshn opened #234 "Non-renewing subscription rejection"
Hello, I'm using the same PayWall in this repo as a payment screen. I have a non-renewing product. In my previous version, PayWall was directly presented to the user after launching the app. Now in this rejected version, I only moved the Paywall from the app start to the behind of 'download' button. Now the user transforms the image and performs the basic function of the app and then PayWall shown

[2020-05-06 13:36] aboedo commented on #234
Hi! This looks like a configuration issue. Please take a look at the FAQ and file a ticket if necessary [in our support site](https://support.revenuecat.com/), since they'll be able to provide better assistance.
From the message, though, it looks like the issue isn't with the paywall location, but rather with the products.
It's common for one app version to make it through review and another versi

[2020-05-06 13:36] #234 closed

[2020-05-06 13:46] ozgurshn commented on #234
Hi @aboedo, thanks for the clarification. Apple didn't let me use auto-renewing subscriptions in my previous version so I switched to non-renewing. I will search for the ways back to auto-renew IAP. I will check the links you mentioned, thanks.

[2020-05-06 18:17] aboedo commented on #224
glad the info helped. I'm closing this out for now, but feel free to reopen if you run into any more issues with it

[2020-05-06 18:17] #224 closed

[2020-05-07 14:52] om-ha commented on #156
While the solution you guys are showing here works, it's not included in Flutter pub :(

https://github.com/RevenueCat/purchases-flutter/blob/e1b896d4d41849bef31817d0b1abf2dc47942277/lib/purchases_flutter.dart#L34

Guess I'll have to write a platform channel method just to setup RevenueCat's Purchases

[2020-05-07 15:45] aboedo commented on #156
@om-ha our Flutter SDK uses the `purchases-ios` library under the hood, so we first develop the changes on `purchases-ios`, release them, and then we update the Flutter SDK (as well as ReactNative, Unity and Cordova).
So the changes will land on the Flutter version pretty soon, but they get merged into this codebase first. Sorry for the delay.

[2020-05-07 17:01] Kalzem opened #235 "Is there a delegate for handling AppStore Promo Code?"
I would like to hand to my users promo code that unlocks consumables IAP (on iOS) as detailed by Apple here: https://help.apple.com/app-store-connect/#/dev50869de4a

However, I do not see any "listeners" on RCPurchasesDelegate.

How can I handle this case?

[2020-05-07 17:48] aboedo commented on #235
You can use the `RCPurchasesDelegate`:
- Create a class that implements the `RCPurchasesDelegate` protocol
- call `Purchases.shared.delegate = yourObject`
You'll get a callback when new purchaser info is available, and also when a user makes purchases through App Store.

More info:
https://sdk.revenuecat.com/ios/Protocols/RCPurchasesDelegate.html#/c:objc(pl)RCPurchasesDelegate(im)purchases:didRece

[2020-05-07 18:09] Kalzem commented on #235
Thanks for the reply.

I have already implemented this protocol and it doesn't seem to do anything.

I am talking about Promo Code (to redeem a IAP), not Promotional purchase through the App Store (which is already implemented and works on my production app).

Also I have looked into the SDK code, and it doesn't seem like my situation is hooked into the protocol.

The protocol only triggeres throu

[2020-05-07 18:33] Kalzem commented on #235
Looking deeper into the SDK, I really don't see this feature being handled.

Promo Code redeemed on iOS generates a transaction on Apple servers (independently from the app). Upon opening the app, it will fire a `paymentQueue:updatedTransactions:`.

Now the issue with RevenueCat is that once the flow is completed in

`RCPurchases.m > handlePurchasedTransaction: > handleReceiptPostWithTransaction:p

[2020-05-07 19:32] om-ha commented on #156
No problem @aboedo , I do realize this limitation and that changes are propagated in a delayed manner to Flutter version.

Something way simpler than this issue, and while you're at it, there's this other change that takes zero time but already exists on iOS. Just needs definition for flutter: [issue on flutter ](https://github.com/RevenueCat/purchases-flutter/issues/34) and its original solved [i

[2020-05-08 14:00] aboedo commented on #145
Closing this out for now, but if we get the opportunity we'll consider doing a separate library that adds combine extensions to our API

[2020-05-08 14:00] #145 closed

[2020-05-09 00:30] aboedo commented on #235
hey @Kalzem ,

There's no real way to distinguish promo code redemption from a regular purchase. So it wouldn't be possible for the SDK to provide a separate method for them.

The expected behavior for promo codes is:
- User redeems promo code
- It gets added to the queue and treated the same as if the user had just made a purchase on the app
- The receipt is sent to our server for validation, onc

[2020-05-09 07:48] Kalzem commented on #235
The keyword that changes everything is **consumable** IAP, as they don't appear in the purchaserInfo. For non-consumable, there is no problem, I can retrieve entitlements from the purchaserInfo.

I understand that you don't have a way to distinguish promo codes from regular purchases. That's why I suggested a protocol method that is triggered for all non-registered purchases.
Any `paymentQueue:upd

[2020-05-09 18:19] acarrera94 commented on #145
I built extensions for revenuecat that use combine, they work great. I’d be happy I share them if anyone is interested.

[2020-05-11 14:33] XericDesign opened #238 "Repeated syncs and calls to applicationDidBecomeActive with TV off"
On an Apple TV 4K, running on the device (no simulator), everything works fine as long as the TV is on. As soon as I turn the TV off, I see:

12:21:59-0700 MyApp[] [Purchases] - INFO: Subscriber attributes synced successfully
12:22:01-0700 MyApp[] [Purchases] - INFO: Subscriber attributes synced successfully
12:22:01-0700 MyApp[] [Purchases] - DEBUG: applicationDidBecomeActive
12:22:05-0700 MyApp[

[2020-05-11 17:02] pangia opened #239 "periodType = null in test environment."
The periodType in active entitlements is null. This is during sandbox testing with the latest version 3.2.2.  If this is due to the sandbox, is there a way we can test to ensure it works in production?

[2020-05-11 17:26] aboedo commented on #238
Hey there, thanks for reporting! This has also been[ reported in Stack Overflow, ](https://stackoverflow.com/questions/61717597/tvos-applicationdidbecomeactive-called-repeatedly-with-tv-off), but it's nice to track it here as well. Answer from SO:

I'll update the ticket once the fix gets released.

[2020-05-11 17:43] aboedo commented on #102
Thanks for the suggestion. We're going to consider this feature, since it may be useful for some folks. It's not trivial because there might be implications to existing transactions in the queue, though, and to purchases that happen directly from App Store. I'm closing this issue for now.

[2020-05-11 17:43] #102 closed

[2020-05-11 19:24] aboedo commented on #145
awesome!! 🎉  that could help a lot of people, particularly as combine gains popularity

[2020-05-11 20:19] acarrera94 commented on #145
[code]

Hope that helps!

[2020-05-11 21:58] aboedo commented on #238
it looks like `UIApplicationDidBecomeActiveNotification` and `UIApplicationWillResignActiveNotification` behave a little oddly on tvOS:

https://stackoverflow.com/questions/35573349/apple-tv-application-does-not-resign-active-on-sleep-mode

So that's the reason that the method is getting called. Like I mentioned before, the method doesn't actually do anything, and the log will be fixed by the next

[2020-05-11 23:02] rkotzy commented on #235
There is an NSSet of `allPurchasedProductIdentifiers` available in PurchaserInfo. But the issue here is you can't determine how many times a consumable was purchased and if you've handled it on your backed. Doesn't seem as related to promo codes and more with how consumables are handled - does that seem correct?

A solution could be to expose an array of purchased non-subscription identifiers, sim

[2020-05-12 07:18] Kalzem commented on #235
Thanks for the reply.

But I'm not sure we are talking about the same issue.

My initial issue is that: RevenueCat consumes iOS Promo Code of **consummable** IAP without telling the developers. The promo code is therefore "successfully used" from RevenueCat's perspective, but fails from the users' perspective (because, as developers, we have no idea that a promo code was used and we cannot give "1

[2020-05-12 18:22] duycao2506 commented on #207
Actually, as what I see, SKRefreshReceiptRequest will update the receipt on your device (restoreCompletedTransactions will not do that inclusively anymore ???) but the trace to those receipts is still not revealed

[2020-05-12 22:06] aboedo commented on #207
thanks for the update.

I tried this again today and got an interesting finding:

In Sandbox, the receipt gets refreshed correctly, but stored in the wrong path. Instead of getting stored in `[[NSBundle mainBundle] appStoreReceiptURL]`, (which in sandbox it gets translated to `<receipts_folder>/sandboxReceipt`, it gets stored in the same folder, but as `<receipts_folder>/receipt`. Which wouldn't b

[2020-05-13 20:22] aboedo commented on #238
version 3.3.0 is out, and it shouldn't have these extra logs (although `UIApplicationDidBecomeActiveNotification` and `UIApplicationWillResignActiveNotification` behavior is out of our control, so you will likely still see the didbecomeactive message)

[2020-05-13 20:22] #238 closed

[2020-05-13 23:18] XericDesign opened #245 ""SNAPSHOT" in version"
With 3.3.0 I am seeing:
DEBUG: SDK Version - 3.3.0-SNAPSHOT

Under 3.2.2 I am seeing:
DEBUG: SDK Version - 3.2.2

What is the significance of "SNAPSHOT" in the version description? Did this not come from the main branch and is this an official release version?

[2020-05-13 23:23] aboedo commented on #245
Hi! Sorry for the confusion. It is an official release, 3.3.0.

We use the suffix `-SNAPSHOT` to indicate development versions, and when making a release, we remove the `-SNAPSHOT`... But we missed it in a couple of files this time around.

I'll make a 3.3.1 release tomorrow morning to fix the version numbers and remove any confusion, but in the meantime, no need to worry, that's an official relea

[2020-05-14 17:47] aboedo commented on #245
released 3.3.1, it's identical to 3.3.0 but with the suffix fixed, sorry again for the confusion!

[2020-05-14 17:47] #245 closed

[2020-05-14 20:23] aboedo commented on #239
`periodType` should behave normally in sandbox. This might be due to a configuration issue.
Things to check:
- is the product a subscription? `periodType` isn't meant for consumables
- is the product that was purchased correctly configured in the RevenueCat dashboard and attached to an offering?

if both of those are true or you have questions about how to perform that setup correctly, please [ref

[2020-05-14 20:43] aboedo commented on #235
We currently don't have support for marking consumable purchases as "consumed" or "redeemed", keeping inventory on the RevenueCat side.
This is however something that we're considering, to make life easiers for developers who rely on consumables.

Like @rkotzy mentioned, a first step toward that will be to improve the way that we present the consumables in the SDK so that we use an array instead o

[2020-05-15 08:45] Kalzem commented on #235
Hmmm, I admit that I feel a bit lost.

Did you try the scenario (redeeming a promo code of a consumable IAP) on one of your apps?

I don't see how getting an array/set/dictionary of consumables IAP will help me understand that a promo code was just redeemed.

I might be missing something here. Can you explain how you expect us to detect this promo code then "unlock the 100 coins" (or whatever bene

[2020-05-15 19:32] aboedo commented on #235
`RCPurchasesDelegate` implements something similar to what you've described. Here's the expected flow:
- user redeems promo code
- payment is added to the queue
- SDK processes the transaction, reads receipt, sends to the backend for storage
- Backend acknowledges the purchase and adds it to purchaserInfo
- SDK receives updated purchaserInfo, communicates that to the delegate
- Delegate looks at t

[2020-05-16 02:31] mmdock opened #249 "Underscores in identity prevent any tracking."
Recently setup observer mode for RevenueCat.  Encountered a strange issue: when setting identity of the user, any identity with an underscore character was not being recorded.  I was unable to find any documentation regarding this or other special characters to be wary about. Luckily, we have yet to release this.

Is there any documentation regarding unusable characters for setting identity? The d

[2020-05-16 08:39] Kalzem commented on #235
Thanks for the explanation.

With this approach, it means that the SDK clients must indeed record which transaction has been delivered to the end user or not. AND synchronize these records online to handle users with multiple devices (so that they don't get twice a consumable IAP on their different devices). At least, until RevenueCat handles these records.

Do you have a vague date estimation for

[2020-05-18 03:11] WillBishop opened #250 "Background task not cancelled and exceeding 30 seconds"
On a slower connection or a turbulent one (such as one with DNS lookup issues), the SDK does not seem to time out background requests are 30 seconds

This results in the error:

And if this were in the background, it'd cause an app crash.

[2020-05-18 16:18] aboedo commented on #250
thanks for bringing this to our attention, we'll improve the behavior of background tasks so that this doesn't happen anymore. I'm keeping the ticket open until we have a fix out.

[2020-05-20 13:49] renjithn opened #252 "Trying to purchase an already purchased/active subscription"
This is not an issue with the SDK but a question on how a certain behaviour should be handled.
Been using SwiftyStoreKit for a while but planning to shift to RevenueCat. I'm wondering how this [scenario](https://github.com/bizz84/SwiftyStoreKit/issues/125) can be handled.

TLDR; When a user tries to purchase a subscription that is already active, StoreKit, despite  showing an "you're already subsc

[2020-05-20 16:57] pangia commented on #239
Sorry for the delayed response. I found my issue. in the purchaseInfo.entitlement objects it was showing as null for some reason, but when referenced directly using "purchaserInfo.entitlements.all[@"Memberships"].periodType" it is populated correctly. This can be closed.

[2020-05-20 16:57] #239 closed

[2020-05-20 18:10] aboedo commented on #239
thanks for the update! glad it's working 😃

[2020-05-20 22:22] aboedo commented on #207
the issue is still present in 6.2.5 from my testing

[2020-05-21 18:08] mmdock opened #254 "RCDeviceCache.m line 126 -[RCDeviceCache cachePurchaserInfo:forAppUserID:]"
Fatal Exception: NSInvalidArgumentException
*** -[__NSCFConstantString stringByAppendingString:]: nil argument
-[RCDeviceCache cachePurchaserInfo:forAppUserID:]

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x1bc02c300 (Missing)
1  libobjc.A.dylib                0x1bbd40c1c (Missing)
2  Foundation                     0x1bc2e9a28 (Missing)
3  Purchases

[2020-05-21 18:16] aboedo commented on #254
does your app clear `NSUserDefaults`, by any chance?
If so, that would explain the crash.
If that is the case, there are a couple of workarounds, like only deleting the keys your app uses, or configuring RevenueCat with a separate instance of `NSUserDefaults`. Let me know if this is your case and I can elaborate more.

[2020-05-21 18:24] aboedo commented on #252
Hi! 👋
We try to reserve GitHub issues for bug reports only. Our support team (reachable through[ our support page](https://support.revenuecat.com/hc/en-us)) is better-equipped at providing assistance for configuration and usage. Please reach out to them to get better assistance.

For your case, you should be able to use the `purchaserInfo` to find a user's active subscriptions. If this is a new de

[2020-05-21 18:24] #252 closed

[2020-05-21 23:10] mmdock commented on #254
@aboedo  you are referring to calls to `removePersistentDomain(forName:)`?  We call this when the user logs out

[2020-05-21 23:25] mmdock commented on #254
Looks like i just need to replace `Purchases.configure(withAPIKey: Application.revenueCatAPIKey, appUserID: userID, observerMode: true)` with  `Purchases.configure(withAPIKey: Application.revenueCatAPIKey, appUserID: userID, observerMode: true, userDefaults: UserDefaults(suiteName: "com.myapp.RevenueCatDefaults"))`

as a followup question, as implicitly stated before, the block of code above could

[2020-05-22 14:07] aboedo commented on #254
Thanks for the reply.
Yeah, the call to  `removePersistentDomain(forName:)` would erase everything in `NSUserDefaults` and cause the crash, since the SDK was using that for storage (if called with the main domain for your bundle, which I'm assuming is likely the case).

And yes, passing in `UserDefaults` with a separate suite name will fix it for you.

Calling `configure` multiple times should be

[2020-05-22 14:07] #254 closed

[2020-05-22 14:31] aboedo commented on #235
I don't have an ETA for this feature, I'm afraid. It's in our roadmap, but we have a few items in our backlog that we need to take care of first.

I'm closing this issue for now since we try to reserve GitHub Issues for bug reports.

Thanks for the patience and for the communication on this one, it'll help shape the feature when it gets developed.

[2020-05-22 14:31] #235 closed

[2020-05-30 14:24] cp3hnu opened #257 "Rejected by Apple for Kid Category"
RevenueCat is great, but my app is rejected by Apple for Kid Category.
First, Apple ask the following questions and my answers where app review.
• Does your app include third-party analytics? If so, please provide details about what data is collected for this purpose.
No
• Does your app include third-party advertising? If so, please provide a link to the ad network's publicly-documented practices

[2020-06-01 22:16] aboedo commented on #257
Hi!
We've seen this happen in the past when developers add the `AdSupport` framework to the project, or when adding other libraries.
purchases-ios doesn't actually use the IDFA unless the `AdSupport` framework is included.

Are you using frameworks other than RevenueCat? Also, is `AdSupport` linked in the Framework and Libraries tab for your project?

[2020-06-01 23:01] cp3hnu commented on #257
I do not use AdSupport framework and other frameworks. My app is online by removing RevenueCat framework, but I wish I could get it back.

[2020-06-02 00:27] rkotzy commented on #257
@cp3hnu can you send an email to support@revenuecat.com with details about your app? We work with other Kids apps and it's an important category for us - RevenueCat is COPPA compliant out-of-the-box specifically for this reason (we even drop IP address from our logs since it's identifiable information).

We haven't heard of this specific rejection before but would want to make sure there is a work

[2020-06-02 01:14] cp3hnu commented on #257
OK, Thank you for your reply.

[2020-06-02 07:19] yasirmturk commented on #252
It is actually a bug in `SwiftyStoreKit` as `SwiftyStoreKit.purchaseProduct` gets lost and does not even give a callback `result` and just prints a message in console.. something like
[code]
so as a user we can not even suggest the user to try restore...

[2020-06-11 20:05] aboedo commented on #257
@cp3hnu did you manage to get this solved?

[2020-06-15 22:23] aboedo commented on #250
upon further inspection, I'm not sure there's much we can do here - management of the SKProductsRequest happens on iOS.
For normal [background tasks](https://developer.apple.com/documentation/uikit/uiapplication/1623031-beginbackgroundtaskwithexpiratio?language=objc), you'd pass in a handler that gets called just before the timer for the task expires, so that you can cancel the task and clean up.

[2020-06-15 22:23] aboedo commented on #250
I'm closing this issue for now, but feel free to reopen if I missed something.

[2020-06-15 22:24] #250 closed

[2020-06-17 01:14] cp3hnu commented on #257
No, I didn't try again.

[2020-06-18 14:03] srgzah-ida opened #262 "didReceivePurchaserInfo is called every time the app launch"
Hello.
I use `didReceivePurchaserInfo` to track subscription updates.

According to the documentation [https://docs.revenuecat.com/docs/purchaserinfo#listening-for-purchaser-info-updates](https://docs.revenuecat.com/docs/purchaserinfo#listening-for-purchaser-info-updates).
This will fire whenever we receive a change in purchaser info on the current device.

But this method is called despite the ab

[2020-06-18 15:03] aboedo commented on #262
Hi! I'm sorry for the confusion.

That's actually the expected behavior:

Note the following line: "you should expect it to be called at launch".

The reason is that since the purchaserInfo could have changed at any time between app opens, the SDK will always re-fetch it and doesn't store it locally, but rather only in memory.

[2020-06-18 17:35] aboedo commented on #262
Closing this as Not a Bug, but please feel free to check out [our support page](https://support.revenuecat.com) and contact support if you need further assistance.

[2020-06-18 17:35] #262 closed

[2020-06-19 13:54] aboedo commented on #207
it looks like the bug is still present on 6.2.8, so I added a workaround for development purposes:
https://github.com/RevenueCat/purchases-ios/pull/263/commits/00e61a87581fdffbb3f1f180365bf29e4d9bf1b1.
In production, this should just work as usual.
I also added a sample watch app that just makes a purchase [as part of the same PR].
Feel free to check it out.

[2020-06-20 11:20] Timac opened #264 "Static Analyzer reports 5 warnings in RCProductInfoExtractor.m: nil returned from a method that is expected to return a non-null value"
**Steps to reproduce:**

- Open the Purchases.xcodeproj project in Xcode 11.5
- Choose for target an iPhone 11 Pro Simulator
- Perform a static analysis with Product > Analyze

**Result:**
You see 5 warnings in `RCProductInfoExtractor.m` "nil returned from a method that is expected to return a non-null value":

<img width="449" alt="screenshot" src="https://user-images.githubusercontent.com/738543

[2020-06-20 11:25] Timac commented on #264
A pull request has been submitted: #265

[2020-06-20 18:11] aboedo commented on #264
Hi @Timac! Thanks for reporting and posting the PR!

[2020-06-20 18:12] aboedo commented on #264
Closing because the PR was merged. Thanks again!

[2020-06-20 18:12] #264 closed

[2020-06-23 13:35] ichikmarev opened #266 "RCAnonymousID doesn't change after identify"
Our app have it’s own user uid’s and usually client obtaining it from backend after installation and login. We follow all the guides on RC identification written here:  [https://docs.revenuecat.com/docs/user-ids#section-tips-for-setting-app-user-ids](https://docs.revenuecat.com/docs/user-ids#section-tips-for-setting-app-user-ids)  but it’s still didn’t works how we expect. So here the problem and

[2020-06-28 22:21] alamodey commented on #207
Hi, I have an independent Watch app that I've been waiting to create a premium IAP for. I just saw your message and looked at the example you mentioned to adapt the configure, loadofferings and purchase functions for my app.

From the debug log, it looks like it's doing the right thing, and searching for the correct product IDs. but how do I test my app since you can't test it in simulator? i inst

[2020-06-29 14:07] aboedo commented on #207
@alamodey the workaround hasn't been released yet, but you should be able to use it by switching to the `develop` branch of RevenueCat. It was merged in https://github.com/RevenueCat/purchases-ios/pull/263
With that workaround, you should be able to test out purchases on sandbox just fine, and it will still work in production.
Testing in-app purchases in the simulator doesn't work on Xcode <=11 so

[2020-06-29 17:37] aboedo commented on #207
I just tried purchasing on the watchOS 7 simulator and it looks like it doesn't work yet, so you will have to use a physical device for testing

[2020-06-30 13:28] alamodey commented on #207
Sorry I'm new to RevenueCat and IAP but I have a series 3 watch and i tried the following - i created a sandbox account and logged into my iPhone in the sandbox account setting (i couldn't find this setting on the watch so i assume you just log into your phone and it uses the same sandbox account on your watch?)

i have adopted the code you used in that branch you mentioned, the purchase, configur

[2020-06-30 13:37] aboedo commented on #207
that looks like an issue with configuration.
What's happening there is that the backend is getting those product identifiers from the config for your app, but then the app tries to fetch them from StoreKit and they can't be found, so they can't be used yet.
Check out [our guide to configuring IAPs](https://www.revenuecat.com/blog/apple-in-app-products-guide) to make sure that they're set up correc

[2020-06-30 13:40] aboedo commented on #207
also, note that while there is a bug in watchOS 6.2.x with how receipts are stored, you should still be able to load offerings / products correctly, since the bug only manifests after making a purchase. So the branch isn't the problem in your case.

[2020-07-01 11:46] alamodey commented on #207
Thanks, I checked out the 'develop' branch and still can't load offerings. So I will reach out to support for help on configuring. I think I just need some clarity on bundle and product IDs. for an independent watchOS app, i have 3 bundle IDs for the app, watchkit, and watchkit extension. and similarly for the product ID of the IAP, i would need the correct bundle ID to use as the prefix (i assume

[2020-07-01 19:03] leocassioo commented on #266
I am experiencing the same problem with my iOS application. Even giving a reset I could not solve the problem, whenever I enter a new user and do the account, it replaces the data from the previous one.

[code]

[2020-07-02 08:09] ichikmarev commented on #266
@aboedo @vegaro sorry guys, but RC support didn't tell us anything, and issue still here and more related to SDK

[2020-07-02 13:43] aboedo commented on #266
hi, sorry for the delayed response. I’m going to try to dig into it and see what’s going on and I’ll get back to you.

[2020-07-02 20:14] aboedo commented on #266
I've been trying this locally and it doesn't seem to reproduce for me... And the code seems okay, which makes me think that the culprit may be user defaults not flushing. Perhaps we need to manually call `synchronize`, even though it's not _supposed_ to be necessary.
Which version of iOS have you seen this with? Which device?

[2020-07-03 05:09] sou1t commented on #266
We tested on iOS 13.5.1, the problem was on all iphone models.

[2020-07-03 11:47] leocassioo commented on #266
@aboedo
Here it is occurring in 13.5.1

Right after logging in, I do `Purchases.shared.identify`, but when making the purchase, the user is considered the same as the previous one logged in. And updating the `App User ID` on the dashboard, making the 2 users into just 1.

This happens by providing `Purchases.shared.reset` or not when the old user logoff.

[2020-07-05 06:57] alamodey commented on #207
Hi, I haven't been able to get any help from RevenueCat support so I was wondering if you could help. I've been able to implement IAP properly on my iPhone app but for my watchOS app I can't load any offerings/packages.

I think it all relates to the configuration but I can't figure out what is different between watchOS and iOS. In watchOS, I have 3 bundle IDs - and I have tried each one but still

[2020-07-06 10:00] sou1t commented on #266
@aboedo, our iOS team would like to call your engineers at a convenient time. We want to solve this issue as soon as possible. Is such solution possible? By the way, we already signed up for your webinar with a demo on July 8.

[2020-07-06 13:17] jeiting commented on #266
Can you clarify what you mean by "wrong"? i.e. are you expecting your server generated ID to be the originalAppUserId? That won'y be the case because you initialized the SDK with an anonymous id, which because the "original" app user id.

[2020-07-06 13:52] sou1t commented on #266
@jeiting I expect that an anonymous ID will never make a purchase. I assign our system's ID before the user completes the purchase and expect that purchase will be listed on the ID that I specified in the method "identify".

[2020-07-06 14:04] jeiting commented on #266
Can you clarify what you mean by this? What does "will be listed on the ID" mean? Likely the ID you passed to identify is aliased with the anonymous id, which is the current behavior of our SDK. You should be able to access the purchase using your passed in ID, or the ID we generated. The existence of the anonymous ID shouldn't matter.

[2020-07-06 14:13] sou1t commented on #266
It seems like there is a bug in identify method. We always make call to identify with our ID, but users are still manage to make a purchase with anonymous ID somehow. That’s why we think we encounter these problems:
1. Users often loses a subscription until the purchase is restored. (Waiting for an alias to be created). We have a lot of reports from users on this.
2. Cross-platform subscription re

[2020-07-06 14:36] jeiting commented on #266
If you are initializing the SDK without an app user id, and we're generating an anonymous ID for you, there will be instances where a purchase can happen before identify is called:

1. A renewal that happens on app launch, the transaction will occur immediately on SDK initialization, before you've passed your ID.
2. A purchase fails to validate, then SDK retries automatically on next launch on ini

[2020-07-07 15:08] sou1t commented on #266
@jeiting Thanks for the detailed explanation, but I still don’t understand if this solves our problems. I remind you that we now have 2 main problems. The first is that users lose their subscription. The second is that cross-buying between platforms does not work. (Although a year ago we had no such problem in the project)

If I understand correctly, you suggest configuring ID with initializing th

[2020-07-07 18:31] leocassioo commented on #266
@jeiting @aboedo What to do when multiple users can access the application from the same iPhone/device?

Even when performing `reset ()` and identifying the new user `identify ()` the data on the old user's server is overwritten when I make a purchase.

![Captura de Tela 2020-07-07 às 14 51 30](https://user-images.githubusercontent.com/16023720/86825274-8d1ded00-c065-11ea-99f3-e034dc82ff6c.png)

*

[2020-07-07 19:30] aboedo commented on #207
I believe that you may have to set up the bundle ids so that the iOS app is included as a prefix for the watch app, i.e.:

iOS app: `com.mycompany.myapp`
iOS watch app: `com.mycompany.myapp.watchkitapp`
iOS watch app extension: `com.mycompany.myapp.watchkitapp.watchkitextension`

let me know if that works!

[2020-07-07 19:36] rkotzy commented on #257
Going to go ahead and close this out unless we get more reports of this and can re-open. There have been other Kids apps to recently launch with RevenueCat - this may have been a case from a specific reviewer.

[2020-07-07 19:36] #257 closed

[2020-07-07 21:02] aboedo commented on #266
@sou1t it looks like both of those users have purchases registered correctly, visible on the dashboard.
Like Jacob said, the issue here might be a misunderstanding regarding the originalAppUserID - you don't really need it.
Calling `identify` with your ID should return purchaserInfo that contains the purchases made by the user and any aliases they might have had.
So in your case, when you call set

[2020-07-07 21:42] aboedo commented on #266
@leocassioo that alias is being created because the users are sharing the receipt, and two users can't share the same receipt in RevenueCat.
There's a setting called `allowSharingAppStoreAccount`, which you can set to false, however what would happen if you do is that purchases made by the second user would still be attributed to the first one, and the second one would get an error.
iOS unfortunat

[2020-07-08 02:52] jasonzurita commented on #207
👏, Switched the SDK to _develop_, and this unblocked my testing of sandbox subscriptions on a watchOS only app — Thanks so much!

When is the next release scheduled for?

[2020-07-08 12:12] alamodey commented on #207
My bundle IDs have always been setup as:
com.ditomanshum.zungzi
com.ditomanshum.zungzi.watchkit
com.ditomanshum.zungzi.watchkit.ext

In my RevenueCat configuration I have set the Bundle ID as com.ditomanshum.zungzi and that automatically loads my app icon whereas the other bundle IDs won't load my icon. Do you think there's any issue with the bundle IDs with the way they are now?

[2020-07-08 15:37] aboedo commented on #207
@alamodey the app icon is set up in a separate file, entirely separate from RevenueCat. Look for `Assets.xcassets` inside each project.

@jasonzurita I'm glad that worked! I need to do some testing on watchOS 7, if things remain the same I'm targeting a release this week. If there are changes to the behavior in watchOS 7 it might take a bit longer, I'll keep you posted.

[2020-07-09 17:52] aboedo opened #272 "allPurchasedProductIdentifiers doesn't include duplicate consumables"
If a user purchases the the same product identifier more than once, Purchaser info won't reflect that, since `allPurchasedProductIdentifiers` is a Set.

This is a problem for consumables, where if a user purchases the same consumable multiple times (for example, a pack of coins), the app won't have a good way of checking how many times the purchase has been made.

This could be fixed by updating t

[2020-07-09 17:55] aboedo opened #273 "completion block won't be called for deferred purchases"
purchases-ios doesn't handle deferred purchases yet (See https://github.com/RevenueCat/purchases-ios/blob/develop/Purchases/Public/RCPurchases.m#L1009).

This means that if a user makes a purchase and it goes into a deferred state (for example, if a purchase is waiting for authorization from the user's parents), the purchase won't trigger the completion block, and the app might get stuck displayin

[2020-07-09 18:55] aboedo commented on #207
A build including the changes here was released! You can now use version 3.5.0 for development on your favorite package manager or directly by downloading the binary.
Closing this issue now.

[2020-07-09 18:55] #207 closed

[2020-07-12 00:41] thattridentdude opened #276 "[BUG] Anonymous App User Id not being aliased in sandbox with as result nil entitlement"
**Describe the bug**
Anonymous App User Id is not being being aliased during sandbox testing. Result is that the App User Id isn't being granted entitlement despite receipt being loaded.

1. Environment
    1. Platform: **iOS**
    2. SDK version: **3.5.0**
    3. OS version: **14.0 (18A5319i)**
    4. XCode/Android Studio version: **XC 11.5 (11E608c)**
    5. How widespread is the issue. Percenta

[2020-07-12 03:21] thattridentdude commented on #276
To add to this:

When signing out of the sandbox account before trying to restore it doesn't trigger a credentials prompt. Instead it just uses the anonymous id and whatever is cached.

Only signing out of the sandbox account, deleting the app and freshly installing it causes a credentials prompt, which then leads into the issue described in the initial post with `INFO: found 0 unsynced attributes

[2020-07-12 21:22] thattridentdude commented on #276
Current workaround that I've found is to have two identical sets of products, one set is non-consumable and the other is consumable. Show the non-consumable one first time around, those get properly restored and the consumable ones after that.

At this point I'm not sure if this a bug. In a vanilla situation, after finishTransaction is called you can't restore a consumable because it's removed fro

[2020-07-12 21:29] XericDesign opened #277 "Bad version number"
The version number in the 3.5.0 framework build for tvOS is "3.6.0-SNAPSHOT". This causes an error when uploading to the AppStore:

ERROR ITMS-90060: "This bundle is invalid. The value for key CFBundleShortVersionString '3.6.0-SNAPSHOT

[2020-07-13 14:43] aboedo commented on #277
Hi @XericDesign, I apologize for the inconvenience, I'll get that fixed right away

[2020-07-13 14:50] aboedo commented on #277
I updated the release. This should be fixed.

[2020-07-13 14:50] #277 closed

[2020-07-13 16:17] rkotzy commented on #276
@thattridentdude thanks for sharing the logs!

It looks like you are configuring multiple instances of the SDK based on this line:

[code]

It that's unintentional you may actually be restoring the transaction on a different instance of _Purchases_ than the one you're using to check subscription status.

[2020-07-13 16:39] thattridentdude commented on #276
I appreciate the concern, in this case all transactional logic goes through one and the same instance, that includes restoring a transaction.

Am I to understand by your reply that it should indeed be possible to restore consumables in sandbox and that the intended behaviour is for the server to alias?

[2020-07-13 22:35] XericDesign opened #279 "Crash when loading products"
We just updated from 3.4.0 to 3.5.0 and saw this for the first time ever:

2020-07-13 15:08:03.788988-0700 MyApp[9626:5288380] [Purchases] - DEBUG: 1 completion handlers waiting on products
2020-07-13 15:08:56.730930-0700 MyApp[9626:5288311] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil

[2020-07-13 23:47] vegaro commented on #279
Hi @XericDesign can you reproduce this consistently? Do you know which line is crashing for you? I can't seem to find any `initWithObjects` in our project.

[2020-07-14 00:11] vegaro commented on #279
Hi @XericDesign, I just realized this stacktrace is very similar to the one in this issue https://github.com/RevenueCat/purchases-ios/issues/225

[2020-07-14 00:19] XericDesign commented on #279
There is no initWithObjects in my project either. I updated from 3.4.0 to 3.5.0 today and only saw this once.

Sorry - that's all I have. My project is in Cocoa on tvOS.

Trygve

﻿On 7/13/20, 4:47 PM, "Cesar de la Vega" <notifications@github.com> wrote:

    Hi @XericDesign <https://github.com/XericDesign> can you reproduce this consistently? Do you know which line is crashing for you? I can't see

[2020-07-14 00:28] vegaro commented on #279
Just double checking, did you look into this comment? https://github.com/RevenueCat/purchases-ios/issues/225#issuecomment-623152678

It looks like their problem was that they were maxing out NSUserDefaults

[2020-07-14 00:32] XericDesign commented on #279
We are only storing about 10 keys in NSUserDefaults and all are tiny.

[2020-07-14 02:37] rkotzy commented on #276
Ah thanks for clarifying I missed that part. Consumables cannot be restored in an Apple receipt.

In the scenario you described, with anonymous users uninstalling/reinstalling the app, an alias would not be expected since the consumable transaction will not be in the receipt.

For subscriptions and non-consumables, the scenario should result in an alias - I tested this with the SwiftExample app.

[2020-07-14 03:00] thattridentdude commented on #276
Gotcha. Is that also expected behaviour in production? Since I'm production environments App Store receipts _should_ accompany an install which would give the server the opportunity to recognise a recurring user?

[2020-07-14 03:06] rkotzy commented on #276
The behavior will be the same in production, there's unfortunately no unique identifier in an Apple receipt that can be used to recognize a user - just identifiers for unique transactions that remain in the receipt.

In production, consumable transactions may remain in the receipt longer but they aren't persisted or restorable like subscriptions and non-consumables.

[2020-07-14 03:06] #276 closed

[2020-07-14 03:09] thattridentdude commented on #276
Thanks for the reply. I suggest updating the documentation, perhaps at the examples I gave above, to prevent any confusion.

[2020-07-14 14:58] vegaro commented on #279
Do you have the symbolicated stacktrace? It's hard to say exactly where we are crashing with the stacktrace you sent. Thanks!

[2020-07-14 16:44] XericDesign commented on #279
I am not sure how to get that even though I have the RevenueCat dSYM file for the framework - that is all Xcode gave me.

T,

﻿On 7/14/20, 7:58 AM, "Cesar de la Vega" <notifications@github.com> wrote:

    Do you have the symbolicated stacktrace? It's hard to say exactly where we are crashing with the stacktrace you sent. Thanks!
    —
    You are receiving this because you were mentioned.
    Rep

[2020-07-16 15:26] michaellenaghan opened #282 "Linker errors ("Undefined symbol") in Xcode 11.6 with RC 3.4/3.5"
I upgraded to Xcode 11.6 last night. I got the following linker errors in RC 3.4 on my first Xcode 11.6 build attempt. They persisted after I upgraded to RC 3.5. I'm using RC from within a local Swift package.

Here's the last part of the error:

[code]

I'm still looking into this but thought it might be worth flagging right away.

[2020-07-16 15:33] michaellenaghan commented on #282
As I look into this, a relevant detail, I think: I was building for testing.

[2020-07-16 15:42] michaellenaghan commented on #282
OK, I'll close this. :-)

I think the Xcode 11.6 bit was irrelevant. Long story short(ish): I hadn't added the module that contained RC to my test scheme, and one of my test scheme configurations turned on UBSan. I think that since there was no test-built RC module Xcode was falling back on the regular debug-build RC module, and that module wasn't built with UBSan.

I'm not sure that that's right,

[2020-07-16 15:42] #282 closed

[2020-07-16 15:46] michaellenaghan commented on #249
Thanks for reporting this; I'm using CloudKit user record identifiers for identity, and they start with an underscore!

[2020-07-16 16:25] michaellenaghan commented on #282
I closed this, but I tracked down the problem and the cause may be relevant to others. The short version is that there are several problems using test plans and test configurations with Swift (local) packages. I reported the bug here:

    https://developer.apple.com/forums/thread/133495

Apple confirmed and logged it.

[2020-07-16 16:57] michaellenaghan commented on #266
@aboedo what do you think of this scenario?

 * User has an iPhone.
 * User logs in to Apple using Apple ID a@example.com.
 * User runs app.
 * App initiailizes RevenueCat.
 * RevenueCat creates an anonymous user ID.
 * App associates (identifies) user with app-specific user ID aaa.
 * User makes a purchase in the app.
 * User logs out of Apple.
 * User logs in to Apple using Apple ID b@example.co

[2020-07-16 20:01] vegaro commented on #249
I have just successfully purchased using a app user id `_user_with_underscore` and I am seeing the purchases in the RevenueCat dashboard. Maybe I am misunderstanding the issue here.

[2020-07-17 01:03] michaellenaghan opened #283 "Purchases.shared.offerings never calls callback when there's no network connectivity"
I'm using Xcode 11.6, RC 3.5, and an actual device running iOS 13.6.

I'm testing "no network" conditions.

The device is connected to my Mac by USB.

The device is in airplane mode.

I'm using Network Link Conditioner on the Mac with the 100% Loss profile.

My call to `Purchases.shared.offerings()` looks like this:

[code]

The callback is never called. In other words, a breakpoint set on the fir

[2020-07-17 02:01] vegaro commented on #283
I am sorry but I can't seem to reproduce this.

I have been debugging calling `Purchases.shared.offerings` with an empty cache and the completion block is not nil and gets called with the error:

![Screen Shot 2020-07-16 at 6 55 58 PM](https://user-images.githubusercontent.com/664544/87740066-218afc80-c796-11ea-963b-e0364ff01ab5.png)
![Screen Shot 2020-07-16 at 6 56 41 PM](https://user-images.gith

[2020-07-17 02:58] michaellenaghan commented on #283
I was aware of that—you can see that the network error gets logged twice—but I'll double check.

[2020-07-17 03:22] michaellenaghan commented on #283
I see the different calls, and I see that my callback never gets called, but I also see that there's another possibility I overlooked: could I be blocking the main thread, which is where the callback gets posted?

I'll take a closer look in the morning; one other wrinkle is that the network errors I saw just now are different from the ones I saw earlier. That may be irrelevant, but I need a cleare

[2020-07-17 03:40] michaellenaghan commented on #283
Actually, before I sign off for the night, here's a related question, and it ties into what I was originally trying to test.

 * I connect the network.
 * I run the app.
 * I see that the app successfully gets offerings.
 * I disconnect the network.
 * I re-run the app.
 * I see that RC doesn't return the cached offerings, it tries to get them from scratch and (eventually) fails.

Is that expected

[2020-07-17 10:34] denandreychuk opened #284 "Remove development team from project."
I want to include Purchases SDK as a git submodule to another project, but I cannot compile it.
Could you please set Team to `None` in Xcode project?

[2020-07-17 13:59] aboedo commented on #284
fix merged, it'll be a part of the next release. Thanks again!

[2020-07-17 14:08] michaellenaghan commented on #283
OK, at this point I think my error handling blocked the main thread, which then blocked the dispatched callback on the main thread.

So sorry; my bad.

Before I close this, can you tell me anything about how RC is meant to operate offline? The question above was about offerings, but of course the next obvious question is about entitlements. ([Here](https://github.com/RevenueCat/purchases-ios/blob/

[2020-07-17 14:35] aboedo commented on #282
sounds like that must have been a tough debugging session. Thanks for reporting and for posting the workaround! I'm sure it'll help others.

[2020-07-17 14:47] aboedo commented on #283
Your assessment is pretty much spot-on.

The SDK caches `purchaserInfo` in `NSUserDefaults`, and will return the cached version right away when you call `purchaserInfoWithCompletion`.
If the cached `purchaserInfo` was obtained more than 5 minutes ago, getting `purchaserInfoWithCompletion` will return the cached version and trigger a call to update them. If there's connectivity and `purchaserInfo`

[2020-07-17 15:47] alfonsoperez commented on #249
Hey @mmdock, @michaellenaghan @cuity it seems that this issue is not widespread to other users, so could you please file a bug report in here: https://support.revenuecat.com/hc/en-us/articles/360046346873-Bug-Reports, sharing if possible a reproducible example so we can take a deeper look at your case in particular?.

I am interested mainly in a [Debug log](https://docs.revenuecat.com/docs/debuggi

[2020-07-17 15:52] michaellenaghan commented on #249
Sorry for the confusion, but I wasn't reporting a problem, I was just thanking mmdock for reporting it—and indirectly pointing out that anyone using CloudKit user record identifiers would have the same problem. (I was thinking of looking into this myself next week; I haven't completed my own RC integration yet.)

[2020-07-21 23:08] aboedo commented on #266
hey @michaellenaghan I'm sorry I missed this question.
in your example, for the step
[code]
the SDK wouldn't actually reuse an anonymous user ID. if the user is identified as `aaa`, the SDK will use `aaa` until either you `reset` or the app is uninstalled. if you call `identify` and your current user isn't anonymous (in this case, `aaa`), this will create an alias.

so assuming that `reset` hasn't

[2020-07-22 00:35] michaellenaghan commented on #266
OK, I think I understand.

Hopefully this is still in the general theme of this thread: I submitted a support request asking for clarification on `allowSharingAppStoreAccount`; I don't really grok the description given [here](https://github.com/RevenueCat/purchases-ios/blob/ecceef3e05edfd1b015ce41eb9a3208213447b77/Purchases/Public/RCPurchases.h#L183). (When I test restore I'm seeing [this](https:/

[2020-07-22 12:32] michaellenaghan commented on #266
@aboedo Thinking about your response I think I see where I went wrong.

I thought that if I initially configured RC without an App User ID, and then identified the user later, the anonymous ID would be *the* App User ID, and my identifier would be an alias.

Thinking about your answer, and looking at the data in the RC dashboard, it seems that under certain circumstances the original anonymous App

[2020-07-22 18:49] michaellenaghan commented on #266
@aboedo After thinking about this quite a bit I think I've realized that a) I probably shouldn't use iCloud user record IDs as my App User IDs***; and that b) I misunderstood how I might be able to take advantage of anonymous App User IDs. (I'm still thinking this through, but I currently have what I think is a simpler model in mind.)

*** The problem with using CloudKit user record IDs is that, a

[2020-07-23 19:21] #272 closed

[2020-07-23 20:24] RamblinWreck77 opened #291 "Purchase already in progress for this product"
Hello! Starting with SDK 3.5.0 (we haven't shipped 3.5.1 yet) we've been seeing some odd errors in production. It appears that sometimes when a user canceled a purchase then tries to purchase again RevCat can throw an already-in-progress error

1. Environment
    1. Platform: iOS
    2. SDK version: 3.5.0
    3. OS version: 12-13
    4. XCode/Android Studio version: 11.6
    5. How widespread is t

[2020-07-25 11:49] Timac opened #292 "Warning with Xcode 12: enumeration values 'SKErrorOverlayCancelled', 'SKErrorOverlayInvalidConfiguration', and 'SKErrorOverlayTimeout' not handled in switch"
**Description**
If you compile the project with Xcode 12 beta 3 with a deployment target set to iOS 14, you will see a warning

[code]

**Steps to reproduce:**

1. Open the Purchases.xcodeproj project in Xcode 12.0 beta 3
2. Set the iOS deployment target to iOS 14
3. Compile the project

**Result:**
You see a warning
[code]

<img width="1418" alt="screenshot" src="https://user-images.githubusercon

[2020-07-27 05:21] XericDesign opened #295 "Not retrieving products/prices?"
This is for tvOS.

By default our price buttons show "Not Available" in case the app is unable to retrieve product prices from RevenueCat and/or the Apple App Store. In all our testing the app (using RC 3.5.1) was able to correctly retrieve this data in debug builds running locally as well as in TestFlight builds sent to end-user testers.

However, when we submitted the app to Apple, they rejected

[2020-07-27 16:59] rkotzy commented on #291
Do all of the cancellations return with `userCancelled == true`? Or does the last one hang in the `💰 Purchase State: .purchasing` state?

That error message is expected if there is already a pending purchase completion block with the same product ID that hasn't finished yet.

[2020-07-27 17:27] RamblinWreck77 commented on #291
Nope. A !userCancelled guard is the first code in the callback

<img width="736" alt="Screen Shot 2020-07-27 at 1 24 52 PM" src="https://user-images.githubusercontent.com/22692130/88572216-cadeb780-d00c-11ea-818f-2d9bf4097697.png">

so it's impossible to get to the log that checks for an error

[code]

Without it being false

[2020-07-27 17:28] RamblinWreck77 commented on #291
Also:

[code]

Fires in the viewWillAppear of the sell page

[2020-07-27 18:38] aboedo commented on #292
hi! thanks for reporting. We'll get those added.

[2020-07-27 21:59] XericDesign commented on #295
UPDATE: Rejected again for not being able to retrieve price data. All of our IAP products were submitted along with the app. I am going to try reverting to v3.4 and submitting.

[2020-07-28 00:35] rkotzy commented on #295
Products are fetched from Apple, so if things worked in testing it's most likely a configuration in App Store Connect that's preventing the reviewers device from fetching the products.

Your products need to be 'Approved' before your app will be able to make it through review - sounds like that could be the problem?

[2020-07-28 02:48] XericDesign commented on #295
My products (8 in app subscription items) are "Waiting For Review" along with the app itself. They were all submitted together as there is no way to submit the IAP without submitting the app. The product is new and none of the IAPs, nor the app have ever been approved and made live.

Trygve

﻿On 7/27/20, 5:35 PM, "Ryan Kotzebue" <notifications@github.com> wrote:

    Products are fetched from Appl

[2020-07-28 02:53] XericDesign commented on #295
Is this true?

https://developer.apple.com/forums/thread/35757

Once an app is rejected with an IAP, you have to delete and start over with a new IAP and reconfigure everything in App Store Connect?!

[2020-07-28 16:35] XericDesign commented on #295
PS: I never see a hit from Apple in my RevenueCat dashboard. I should see a new user when they review it and that user should have a "first seen" date that matches the review date. This is not the case. Why does it work on debug build and in TestFlight builds, but not in Apple's review?

Trygve

﻿On 7/27/20, 5:35 PM, "Ryan Kotzebue" <notifications@github.com> wrote:

    Products are fetched from

[2020-07-28 22:32] rkotzy commented on #295
Since this seems more related to a specific app rejection and not a reproducible bug in the SDK, I'm going to close the issue out.

We put together a guide on [App Store rejections](https://docs.revenuecat.com/docs/app-store-rejections) - but don't think it covers this exact case. App review can be painful, and unfortunately there's not a ton we can currently do besides put together any learnings

[2020-07-28 22:32] #295 closed

[2020-07-30 08:40] JMCPH opened #300 "Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]"
**Describe the bug**
There is an issue in the latest framework version. UI API was called on a background thread on the line RCSystemInfo.m - 87.

1. Environment
    1. Platform: iOS
    2. SDK version: 3.5.2
    3. OS version: 13.5.1
    4. Xcode version: 11.6
    5. How widespread is the issue. Percentage of devices affected: 100 %
2. [Debug logs](https://docs.revenuecat.com/docs/debugging) that

[2020-07-30 08:45] JMCPH commented on #300
@aboedo can you please take a look at this? We are planning to start paying from next week, so we are really hoping you can take a quick look at this :)

[2020-07-30 12:59] alamodey opened #301 "Swift paywall rejected by App Store"
Just wanted to let you know that the example Swift paywall gets rejected by the App Store:
_Guideline 3.1.2 - Business - Payments - Subscriptions

We noticed that one or more of your auto-renewable subscriptions is marketed in the purchase flow in a manner that may mislead or confuse users about the subscription terms or pricing. Specifically:

- Your auto-renewable subscription displays the month

[2020-07-30 13:45] aboedo commented on #301
Hey @alamodey could you share a screenshot of what your paywall looks like with all data filled?
This is what the sample looks like on our testing RevenueCat app:
![IMG_BBBB30EB2D91-1](https://user-images.githubusercontent.com/3922667/88930243-9576db80-d251-11ea-9eab-c9624b044556.jpeg)

In this case, you can see that the $39.99 price is displayed in a larger font and more prominent color than the

[2020-07-30 14:13] alamodey commented on #301
This is the updated paywall that got approved after I adjusted the fonts:

By the way, the 33% discount in your screenshot, is that automatically
displayed if you created an introductory price in your subscription or do
you need to manually add it to the paywall?

On Thu, 30 Jul 2020 at 11:45 pm, aboedo <notifications@github.com> wrote:

[2020-07-30 20:13] aboedo commented on #300
I was actually looking at rewriting that method for a different reason (app extensions), so I'll take the opportunity to fix this as well

[2020-07-30 20:18] JMCPH commented on #300
Awesome, let me know when it's done 👍🏼

[2020-08-01 00:51] #273 closed

[2020-08-04 14:31] aboedo commented on #266
Hey @michaellenaghan I'm sorry for the (very) late response.

Yeah, CloudKit user records IDs as app user IDs could be problematic, since it's independent from the iTunes account. It would be awesome if we had a way to fetch an id for the iTunes account, and it would certainly simplify a lot of these issues, but there's no way to do it as of right now.

Anonymous IDs are meant to help in situation

[2020-08-04 14:31] aboedo commented on #301
@alamodey did you manage to figure this out?

[2020-08-04 14:32] aboedo commented on #300
update here: https://github.com/RevenueCat/purchases-ios/pull/303 contains the fix and has been merged, this will be shipped in the next release.

[2020-08-04 14:36] aboedo commented on #291
I have a suspicion that this might be related to https://github.com/RevenueCat/purchases-ios/issues/292, where the new error cases are being used. Even though the new error cases where added very recently (with Xcode 12 beta seed 3), the docs say that [this one](https://developer.apple.com/documentation/storekit/skerrorcode/skerroroverlaycancelled?changes=latest_min_4_5_____8) could show up with i

[2020-08-04 14:39] aboedo commented on #249
@mmdock have you managed to figure this out?

[2020-08-04 15:15] michaellenaghan commented on #266
@aboedo Thanks. I did eventually figure all of that out, it just took a while. :-)

[2020-08-04 17:52] RamblinWreck77 commented on #291
@aboedo in this case the "Default error" warning in the logs is from the @unknown default handler warning that "operationAlreadyInProgressError" was not an expected case.

[2020-08-04 18:32] aboedo commented on #291
@RamblinWreck77 good catch - in that case it can only have been triggered here: https://github.com/RevenueCat/purchases-ios/blob/develop/Purchases/Public/RCPurchases.m#L620.
It looks like the completion block for the first purchase wasn't removed, even though it was called. We'll dig in further

[2020-08-04 21:21] vegaro commented on #279
@XericDesign we have merged a fix, will update here when it's released

[2020-08-05 08:42] JMCPH commented on #300
@aboedo thank you

[2020-08-05 08:42] #300 closed

[2020-08-05 11:51] alamodey commented on #301
![Simulator Screen Shot - iPhone 11 - 2020-08-05 at 21 49 17](https://user-images.githubusercontent.com/55496019/89409513-89b17a80-d765-11ea-99d1-c17e68f8cd4b.png)
I shrinked the monthly rate further and it got approved.

By the way, how do I add an image at the top to use up some of the blank space? Can you update your paywall to put a placeholder?

[2020-08-05 18:16] aboedo commented on #301
I'm glad it got approved!

Our paywall is meant to serve mostly as a reference and an example, but it's not meant to be usable as-is for apps. It can be adapted, of course, as you have, but we're not focusing developing it further for the time being.

As for adding an image at the top, I suggest adding a `UIImageView` to the top by either moving the `headerView` down (i.e.: altering its top constr

[2020-08-05 18:16] #301 closed

[2020-08-10 17:57] RamblinWreck77 commented on #291
@aboedo Any update on this issue? At this point it is accumulating to a small (but not exactly insignificant) number of sales.

[2020-08-10 22:45] aboedo commented on #291
@RamblinWreck77 this is super tricky to reproduce since it seems to stem from a race condition when accessing the `purchaseCompleteCallbacks`.
I found one place where multi-threading could be improved. I'm going to make a PR for it. I'm not sure it will solve your case, since it's really hard to reproduce.

[2020-08-11 14:22] aboedo commented on #291
@RamblinWreck77 here's the PR I mentioned: https://github.com/RevenueCat/purchases-ios/pull/313

And here is the bug it fixes: https://github.com/RevenueCat/purchases-ios/pull/313/files#r468619549. Is there any chance you have something like that in your code? where a flow that starts on the completion block might initiate a new purchase?

[2020-08-11 14:22] aboedo commented on #291
for example, a retry mechanism

[2020-08-11 14:49] RamblinWreck77 commented on #291
Yes, we have a network-failure retry mechanism. That could be the culprit/triggering the race condition!

[2020-08-11 15:51] aboedo commented on #291
@RamblinWreck77 awesome!! Glad to have found an explanation. We'll get the fixed shipped soon so retries work correctly. Thanks for reporting and for following up!! Cool emoji logs by the way 🔥 super easy to spot errors

[2020-08-11 16:03] aboedo commented on #284
this will be included in releases starting with 3.6.0 (currently in beta)

[2020-08-11 16:03] #284 closed

[2020-08-13 08:00] dmonagle opened #314 "v3.6.0-beta - nonRecurringSubscriptions not accessible in Swift project"
I've noticed the addition of nonRecurringSubscriptions on Purchases.PurchaserInfo in v3.6.

I attempted to access this only to be told that **Value of type 'Purchases.PurchaserInfo' has no member 'nonSubscriptionTransactions'**

I'm spent some time digging through the code, but unfortunately it's been years since I worked with ObjectiveC and I've never had to work with them both in the same projec

[2020-08-13 13:55] aboedo commented on #314
you're correct, I spotted this yesterday and figured it might be an issue. we'll make the class public.

[2020-08-14 02:37] dmonagle commented on #314
This is related, for the 3.6.0 release and I'm happy to open another issue if needed. While the library builds and runs fine within a project, test targets for a project are failing to build with the following errors:

<img width="381" alt="image" src="https://user-images.githubusercontent.com/569687/90207875-ba12ac00-de2a-11ea-85f6-b639551dd04d.png">

This was not an issue with 3.5.2 so I assume

[2020-08-14 14:06] aboedo commented on #314
Thanks for reporting! I'll take a look at that as well.
Question: when you say "tests targets for a project" do you mean test targets on your own project or the ones from `purchases-ios`?

[2020-08-14 15:03] aboedo commented on #314
@dmonagle also, how are you importing `purchases-ios`? As in, are you using cocoapods, carthage, SPM, direct download of the binary or compiling directly from source?

[2020-08-14 23:31] dmonagle commented on #314
Oh sorry. Yes the test targets on my project. It’s actually more than just building for testing that’s an issue. Archive fails for the same reason. I’m using Swift Package Manager exclusively in the project.

Making those classes public fixes the issue, but obviously the goal was to keep the internals internal. Unfortunately I have no experience with creating mixed packages so I can only feed back

[2020-08-15 10:48] aboedo commented on #314
thanks for the info, that'll help reproduce the issues. I'll make sure to get it working. our package on SPM does have a bit of a different structure compared to the rest since SPM doesn't support mixed-language targets, which made us make a split between objc and swift. But this should be fixable.

[2020-08-27 15:57] ozgurshn commented on #157
I wrote a wrapper for SwiftPaywall to use it in SwiftUI.
https://gist.github.com/ozgurshn/73d8d583fbc8916bae2abd7ad61b87ef

[2020-08-27 16:07] aboedo commented on #157
hey @ozgurshn thanks for posting!! It'll be super helpful to folks moving to SwiftUI 💪

[2020-08-27 16:59] ozgurshn commented on #157
Nice ho hear that @aboedo 💪

[2020-08-31 19:09] aboedo commented on #314
3.6.0-beta-2 should address this @dmonagle. Thanks for your patience with this. It took longer than expected to get a fix out because this led us to restructure our code quite a bit, but I tested it on SPM as well as Cocoapods and Carthage and it should be working correctly and archiving with no issues.

Let me know if you run into anything else, and thanks again for reporting!

[2020-08-31 19:11] aboedo commented on #291
@RamblinWreck77 heads up that we have a new beta build, 3.6.0-beta-2, which includes this fix along with a few others. Feel free to check it out. It should go into stable relatively soon assuming no big surprises.

[2020-08-31 19:22] aboedo commented on #279
@XericDesign the fix is a part of 3.6.0-beta-2 if you want to check it out. 3.6.0 will be out of beta soon, assuming no big surprises arise.

[2020-08-31 19:23] aboedo commented on #266
@michaellenaghan I'm closing this issue in that case, but feel free to reopen if anything else comes up.

[2020-08-31 19:23] #266 closed

[2020-08-31 19:24] aboedo commented on #249
I'm closing this ticket due to inactivity. Feel free to reopen if something comes up related to this, though.

[2020-08-31 19:24] #249 closed

[2020-09-10 19:12] aboedo commented on #292
sorry for the delay, this has been addressed in https://github.com/RevenueCat/purchases-ios/pull/334

[2020-09-14 18:12] aboedo commented on #314
@dmonagle 3.6.0 final has been released! closing this issue now.

[2020-09-14 18:12] #314 closed

[2020-09-14 18:13] aboedo commented on #291
@RamblinWreck77  3.6.0 final has been released! closing this issue now.

[2020-09-14 18:13] #291 closed

[2020-09-14 18:13] aboedo commented on #279
@XericDesign 3.6.0 final has been released! closing this issue now.

[2020-09-14 18:13] #279 closed

[2020-09-14 18:57] RamblinWreck77 commented on #291
Great! We'll QA + ship this soon, and keep you posted on any potential regressions.

[2020-09-14 19:01] aboedo commented on #291
awesome thank you!

[2020-09-16 18:15] density opened #341 "checkTrialOrIntroductoryPriceEligibility:completionBlock does not call completion block on old OS versions"
**Describe the bug**
A clear and concise description of what the bug is. The more detail you can provide the faster our team will be able to triage and resolve the issue.

1. Environment
    1. Platform: iOS
    2. SDK version: 13
    3. OS version: any version < 12
    4. Xcode version: 11.7
    5. How widespread is the issue. Percentage of devices affected. Probably not many
2. [Debug logs](http

[2020-09-16 18:26] aboedo commented on #341
you're right! thanks for reporting this, we'll get a fix out ASAP

[2020-09-16 18:44] aboedo commented on #341
the fix will go into a patch 3.6.1 release and in 3.7.0, both of which will likely be released between today and tomorrow

[2020-09-16 21:24] aboedo commented on #292
@Timac 3.7.0 has shipped with the new SKErrors! Closing this now. Thanks again for reporting!

[2020-09-16 21:24] #292 closed

[2020-09-16 21:43] aboedo commented on #341
The fix made it into releases 3.6.1 and 3.7.0, and both of them are out 🎉 @density thanks again for reporting! Closing this as solved.

[2020-09-16 21:43] #341 closed

[2020-09-22 12:21] ekurutepe opened #350 "Purchases 3.7.1 does not build under macCatalyst"
**Describe the bug**

Purchases 3.7.1 installed through CocoaPods:
[code]

Building the macCatalyst target fails with the following errors:
`'SKErrorOverlayInvalidConfiguration' is unavailable: not available on macCatalyst`
`'SKErrorOverlayTimeout' is unavailable: not available on macCatalyst`

1. Environment
    1. Platform: macCatalyst
    2. SDK version: iOS 14
    3. OS version: macOS 10.15

[2020-09-22 19:19] #350 closed

[2020-09-25 16:49] jeiting opened #355 "HELP MY PORCHISES DONT WORK"
## Common project specific issues

There are certain project specific issues that are commonly misinterpreted as bugs.

- [Offerings, products, or available packages are empty](https://support.revenuecat.com/hc/en-us/articles/360041793174)
- [Invalid Play Store credentials errors](https://support.revenuecat.com/hc/en-us/articles/360046398913)
- [Unable to connect to the App Store (STORE_PROBLEM) e

[2020-09-25 16:50] #355 closed

[2020-09-26 09:28] Gurbo opened #357 "iOS 14 - offerings.current is nil in simulator (but everything is fine on iOS 13)"
iOS 14 - offerings.current is nil in simulator (but everything is fine on iOS 13).

2020-09-26 12:23:34.110686+0300 ______[6372:297080] [Purchases] - DEBUG: SKRequest failed: UNKNOWN_ERROR
2020-09-26 12:23:34.111091+0300 ______[6372:296847] [Purchases] - INFO: Could not find SKProduct for (
    "______",

[2020-09-27 00:31] jhk115 commented on #357
Glad I checked Github issues! Confirming this is the case.

[2020-09-28 14:11] aboedo commented on #357
Hi! Thanks for opening.
This is unfortunately expected now - we'll update our docs accordingly.
As of iOS 14, simulators won't load products unless you're using StoreKit Config Files. However, doing so will cause purchases to be signed with a different certificate, which will fail validation when synced with our backend.

We're currently working on adding support for it backend-side, however for t

[2020-09-28 14:11] #357 closed

[2020-09-29 03:04] density opened #358 "Crash originating from ReceiptParser.receiptHasTransactions"
We got the following stacktrace after calling `Purchases.restoreTransactions`:

[code]

[2020-09-29 13:23] aboedo commented on #358
hi! thanks for reporting and for the detective work to find the failing line.

I'm taking a look at it.

[2020-09-29 14:16] density commented on #358
Thanks! I'm not sure why the crash didn't get symbolicated. Maybe something to do with installing packages through SPM? Really would've been useful this time :(

[2020-09-29 21:22] aboedo commented on #358
I'm not sure why it's not symbolicated either. It looks like the last symbolicated method is the one marked `@objc`, so that may have something to do with it. I have to dig deeper into that.

In the meantime, my money's on this line https://github.com/RevenueCat/purchases-ios/blob/develop/PurchasesCoreSwift/LocalReceiptParsing/Builders/InAppPurchaseBuilder.swift#L38 because that would result in a

[2020-09-29 21:53] density commented on #358
Ah yes, that could be it! Hopefully it is. I definitely have triple-checked my build settings to make sure it's generating the DSYMs properly, but I just recently switched to SPM so I'm not sure how that interacts with Crashlytics or DSYMs 🤷‍♀️ . Thanks for working on it so quickly!

[2020-09-30 09:32] matej opened #361 "Swift file breaks rile naming rules on certain platforms"
**Describe the bug**

I just broke Git checkouts four our Windows clients when committing a RevenueCat update to the iOS portion of our monorepo.

Specifically those two files break Windows file naming rules:
- https://github.com/RevenueCat/purchases-ios/blob/develop/PurchasesCoreSwift/LocalReceiptParsing/DataConverters/ArraySlice%3CUInt8%3E+Extensions.swift
- https://github.com/RevenueCat/purchas

[2020-09-30 13:20] aboedo commented on #361
Thanks for reporting! I'll update the file names.

[2020-09-30 14:20] aboedo commented on #358
@density this has been merged and will make it in the next release, probably out this week.
Thanks again for reporting!

[2020-10-01 18:38] aboedo commented on #358
@density version 3.7.3 has been released and includes this fix. Let me know if you still get this crash after upgrading! Closing in the meantime.

[2020-10-01 18:38] aboedo commented on #361
@matej version 3.7.3 has been released and includes the file name fix. Thanks again for reporting!

[2020-10-01 18:38] #361 closed

[2020-10-02 04:16] matej commented on #361
Thank you for fixing it so quickly!

[2020-10-14 07:00] ignalonzo opened #369 "[macOS] Purchases.purchasePackage returns userCancelled == false when clicking on Cancel in Confirm Subscription popup"
## Common project specific issues

**Describe the bug**
A clear and concise description of what the bug is. The more detail you can provide the faster our team will be able to triage and resolve the issue.

1. Environment
    1. Platform: macOS
    2. SDK version: 10.15.6 (19G68)
    3. OS version: 11.0 (Big Sur)
    4. Xcode version: 12.0.1
    5. How widespread is the issue. 100%
2. [Debug logs]

[2020-10-14 08:26] #369 closed

[2020-10-14 08:26] iPile opened #370 "[macOS] Purchases.purchasePackage returns userCancelled == false when clicking on Cancel in Confirm Subscription popup"
## Common project specific issues

**Describe the bug**
A clear and concise description of what the bug is. The more detail you can provide the faster our team will be able to triage and resolve the issue.

1. Environment
    1. Platform: macOS
    2. SDK version: 10.15.6 (19G68)
    3. OS version: Big Sur - 11.0 Beta (20A5384c)
    4. Xcode version: 12.0.1
    5. How widespread is the issue. 100%

[2020-10-14 23:25] rkotzy commented on #370
Are you able to reproduce this with a fresh sandbox user? It looks like there may be some leftover transactions on the payment queue that may be interfering with this new purchase.

e.g. `DEBUG: PaymentQueue updatedTransaction: P1Y.mac_app_store_trial_1 `

[2020-10-15 06:27] ignalonzo commented on #370
The screenshots attached and the debug messages were received with a fresh sandbox user.

To confirm I have just tried one more time, cleaned XCode cache, created a new sandbox user - same result.

`[Purchases] - DEBUG: PaymentQueue removedTransaction: P1Y.mac_app_store_trial_1 (null) ((null) Error Domain=SKErrorDomain Code=0 "UNKNOWN_ERROR" UserInfo={NSLocalizedDescription=UNKNOWN_ERROR, NSUnderl

[2020-10-15 14:07] rkotzy commented on #370
Are you using StoreKit.config files for testing? If so, those files aren't supported yet but will be soon.

[2020-10-16 11:04] ignalonzo commented on #370
No, we're just using Sandbox testing on all macOS versions (we support from 10.13) and StoreKit.config is supported only from macOS 10.15

This issue is reproducible only on Big Sur Beta

[2020-10-19 15:19] aboedo commented on #370
I wonder if this might be an issue of Big Sur Beta's IAPs in that case. We'll check it out

[2020-10-22 18:09] yuratrotskyi opened #375 "[Crash] leaves the SDK in an undetermined state"
I am running my app with Purchases SDK v3.7.4 and get a crash if I delete my app with your SDK and running again on the same device (simulator or real device) only for the first time.

I got this type of error
libc++abi.dylib: terminating with uncaught exception of type NSException
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '[Purchases] - Cached appUs

[2020-10-22 18:17] aboedo commented on #375
Hi 👋 thanks for reporting.

I think this might be happening as a result of a race condition, where `RCDeviceCache` sets up and starts observing changes to `NSUserDefaults`, but it may not have an appUserID yet. We'll get it fixed.

[2020-10-22 18:21] yuratrotskyi commented on #375
Hi 👋 , thanks for the quick response!
Looking forward to the new version with fixed issue

[2020-10-23 12:12] ignalonzo commented on #370
Bump, any luck guys?

[2020-10-26 19:23] jasonzurita opened #378 "`purchasePackage` completion handler not called on _cancel_"
**Describe the bug**
When attempting to make a purchase, I am noticing that the `Purchases.shared.purchasePackage` completion handler isn't called if the initial popup is dismissed via cancel button (see below for screenshots of the popups). This is happening in both debug and in production builds, and is currently in production with this issue.

In addition to this being unexpected behavior, an i

[2020-10-26 19:52] rkotzy commented on #378
The 50+ `removedTransaction` logs indicate the the receipt may have 50+ unfinished transactions and the SKPaymentQueue is really slow. Maybe these were from purchases before using RevenueCat? Can you try with a new sandbox user and confirm you are not setting `finishTransactions=false`?

The userCancelled error is relayed directly from Apple. If you put a breakpoint in RCPurchases.m in the [storek

[2020-10-26 20:58] jasonzurita commented on #378
Ahh, interesting. These purchases were only made using RevenueCat.  I will also give a new sandbox user a try to see if things change.

Also, something that is weird with this is that I see this queue flushing out every time the app starts up. Seems like it should flush out once and be done, but for some reason that isn't the case.

Just tried adding this breakpoint. It hit when pressing the purch

[2020-10-27 01:54] rkotzy commented on #378
The queue should flush out unless the SDK is configured in observer mode or `finishTransactions` is set to `false`.

[2020-10-27 03:11] jasonzurita commented on #378
Interesting. I will do some more tests and file a separate issue if things still don't seem to be flushing out as expected.

---

Anything else to try or check for the main part of this issue?

[2020-10-27 04:04] rkotzy commented on #378
This actually may be a simulator issue as well. Does it reproduce if you run it on an actual watch?

If StoreKit is not providing any failure or completion state, then the completion block from RevenueCat will never fire either. There may be some more clues in the full debug log output (e.g. if two instances of the SDK are being configured you may be purchasing from one instance and listening for

[2020-10-27 14:24] jasonzurita commented on #378
I have only tried this on a real device.

Interesting thought! I will dig into that a little. I am listening to the _purchase_ request and response with the same instance of the SDK (in the same module).

Would this be an elevated log level to turn on, or are you referring to the already printing out debug log?

[2020-10-27 22:34] rkotzy commented on #378
There is an elevated level of informational logging that may provide some more context. You can enable this by setting `Purchases.debugLogsEnabled = true` before configuration.

[2020-10-28 13:15] felipe-valio-movile opened #379 "Crash in 32 bits devices"
I'am seeing a crash in iPad 4, iOS 10.3.4. This appears to be related to 32-bit based devices.

1. Environment
    1. Platform: iPad 4
    2. SDK version: 3.7.5
    3. OS version: 10.3.4
    4. Xcode version: 12.1
    5. How widespread is the issue: 100%
2. [Debug logs](https://docs.revenuecat.com/docs/debugging) that reproduce the issue
`Swift runtime failure: Not enough bits to represent the pas

[2020-10-28 13:43] aboedo commented on #379
great catch! the code seems to be assuming 64 bits. We'll get it fixed. Thanks for reporting!

[2020-10-28 17:14] rkotzy commented on #370
@ignalonzo we are seeing the same error here when the payment sheet is cancelled. Unfortunately I don't think there's any workaround since the wrong error message is coming from Apple. Hopefully this is a quirk of Big Sur Beta and it's fixed before the official release. We can keep the issue open to track any updates.

[2020-10-31 03:41] jasonzurita commented on #378
Sorry for the delay @rkotzy. Ahh, yes I have that enabled in debug builds! Below is the full debug log output (some minor redacting). Note: At the very end of the logs, I start a purchase and press cancel on that initial popup as previously described. Nothing ends up being logged out based on that action.

[iap_logs.txt](https://github.com/RevenueCat/purchases-ios/files/5468469/iap_logs.txt)

Plea

[2020-11-02 20:18] rkotzy commented on #378
With all of those transactions on the payment queue, it could just be taking a _looong_ time for Apple to return some completed state for the purchase. I would try with a new sandbox user - they will have a new receipt and shouldn't have any updated transactions on the payment queue.

[2020-11-02 20:52] jasonzurita commented on #378
I have tried this in production with my real Apple ID where I don't have all of those transactions on the payment queue, and I still get this issue.

[2020-11-03 11:50] abaturyna opened #382 "App Store review : rejection due to 'missingReceiptFileError'"
Hi,

I am submitting for App Store review my app for almost 9 times, I use revenue cat 'purchases_flutter' library for subscriptions. And i am getting 'PurchasesErrorCode.missingReceiptFileError' during app store review. But locally with my sandbox account everything works perfect.

Please HELP ME TO FIX THIS PROBLEM . I do everything like in 'purchases_flutter' example . I use the latest 1.4.1 ve

[2020-11-03 19:28] #382 closed

[2020-11-04 14:38] mikezliu commented on #155
I'm seeing this issue on some devices and not others, but seeing it on both simulators and physical devices. Not sure if it's a revenuecat or storekit issue but it's rather hard to debug the cause, just says filed to fetch the products.

[2020-11-09 16:46] jasonzurita commented on #378
Any update on this @rkotzy?

[2020-11-12 14:40] aboedo commented on #375
the fix has been merged and released in 3.7.6 🎉
Thanks @yuratrotskyi for reporting!

[2020-11-12 14:40] #375 closed

[2020-11-12 14:40] aboedo commented on #379
The fix has been merged and released in 3.7.6 🎉
Thanks felipe-valio-movile for reporting!

[2020-11-12 14:40] #379 closed

[2020-11-14 06:35] xsleonard opened #391 "SKReceiptRefreshRequest background task not terminating despite a successful completion"
This is almost the same as #250, but the request type is different (`SKReceiptRefreshRequest`), and there aren't networking issues on the device that I'm aware of. The warning shows up after the completion handler for `restoreTransactions` has finished successfully.

- Purchases v3.7.6
- iOS 14.0
- Real device, attached to xcode.
- Sandbox

[2020-11-14 07:54] xsleonard opened #392 "Attempts to subscribe to an existing subscription are reported as `.storeProblemError` with a message of "An unknown error occurred"."
Attempts to subscribe to an existing subscription are reported as `.storeProblemError` with a message of "An unknown error occurred".

    NSLocalizedDescription = "An unknown error occurred";
    NSUnderlyingError = "Error Domain=ASDServerErrorDomain Code=3532 \"You\U2019re currently subscribed to this.\" UserInfo={NSLocalizedDescription=You\U2019re currently subscribed to this.}";

To reproduce:

[2020-11-15 09:21] anisimov-voir opened #393 "Add Purchases as dynamic framework via SPM"
I cannot add Purchases to my project because of dynamic linking:

[2020-11-15 15:04] #393 closed

[2020-11-16 16:10] xsleonard opened #394 "fatalError in Transactions.swift can crash application?"
There is a fatalError call in the swift code, when processing API data:

https://github.com/RevenueCat/purchases-ios/blob/38d16aa9d59b5204f22f7cbdac627d3699b3f623/PurchasesCoreSwift/Transaction.swift#L28

Preferably this would be a failable initializer. It would be bad to crash the app over this rather than return some error or omit the potential transaction.

[2020-11-16 16:47] aboedo commented on #370
@ignalonzo
update here: just tried this out on Big Sur 11.0.1, and I was able to make a successful purchase, with no errors.

If I try to purchase the same product again while the subscription is active, though, I do get a similar traceback as you did, stemming from a 500 error from App Store.

Is this still happening to you on 11.0.1?

[2020-11-16 17:16] rkotzy commented on #392
Hmm Apple used to send back a SKErrorDomain Code 2 in this scenario, which indicated a cancellation. I'm wondering if this case is specific to sandbox 🤔

The SKErrorDomain Code 0 is an Unknown Error from Apple, which RevenueCat maps to store problem: https://developer.apple.com/documentation/storekit/skerror/code/unknown

It doesn't seem like Apple has any documentation on the `ASDServerErrorDomai

[2020-11-16 17:23] rkotzy commented on #391
I think this is similar to #250, the `SKReceiptRefreshRequest` is managed by iOS and the Purchases SDK can only call `start` on the task. Can you confirm @aboedo?

[2020-11-17 05:12] xsleonard opened #396 "Making a purchase in airplane mode returns unknown error instead of network error"
With the device in airplane mode, attempting to purchase returns "unknown error" instead of a network error. The underlying error suggests that this could be handled as a network error:

- Purchases 3.7.6
- Real device, attached to xcode
- Sandbox

[2020-11-17 06:00] xsleonard commented on #396
On a subsequent attempt about an hour later, under the same conditions, the error changed to:

[2020-11-17 08:39] zsbee opened #397 "RCPurchaserInfo parseDatesIn:withLabel crash (1 User 6 times)"
**Description**
Looks like one of our users in Taiwan crashed 6 times on Mac. Do you know about a date access issue? It is not a wide-spread issue, but we would like to understand why this user got into a crash loop on their mac and how we should address this. Would updating the pod Fix this for example? This user is in their 14 day trial currently (active but cancelled subscription).

1. Environm

[2020-11-17 20:18] aboedo commented on #397
hi! 👋
Thanks for reporting.
I wasn't aware of this issue, I'm taking a look to see if I can figure out what's going on. Although it's always a good idea to upgrade the SDK to get the latest bug fixes, I don't believe any of the bug fixes between `3.5.2` and the current latest `3.7.6` would fix this.

I'll update the ticket when I know more.

[2020-11-17 21:17] aboedo commented on #391
actually, although it looks very similar from the outside, I think this is a separate thing.
I'm debugging it and I can 100% reproduce, I believe that the SDK may have a leak where the `SKReceiptRefreshRequest` doesn't get dealloc'ed, and this warning is issued even though the request is actually done.
@xsleonard thanks for reporting!

[2020-11-17 21:21] aboedo commented on #391
it might actually be an iOS bug, if I call `cancel` on the request after it's finished, the warning disappears and the request gets dealloc'ed correctly

[2020-11-18 08:02] zsbee commented on #397
Thanks, additional note: We see a few users trying to hack our subscription flow, all attempts were from china. We are using our own backend to verify subscriptions (they sometimes send up invalid receipts, empty receipts etc.)
I can imagine that they might try messing with their device date as well... Not sure if that can cause such issues in your codebase, just wanted to mention.

[2020-11-18 09:00] wsun opened #401 "Offerings/purchaserInfo no longer synchronously returned from cache via main thread"
**Describe the bug**
A small change in 3.7.4 now has `purchaserInfo` and `offerings` returning from cache on DispatchQueue.main async instead of the main thread. I understand apps shouldn't depend on a synchronous main thread return here, but it'd be nice if it could when possible, and it seems like it can without disrupting current behavior.

1. Environment
    1. Platform: iOS
    2. SDK version

[2020-11-18 14:23] aboedo commented on #397
there's a chance that they're manually editing `NSUserDefaults` and removing their `expirationDate` there, in an attempt to extend their subscription duration. That would result in this crash

[2020-11-18 15:10] zsbee commented on #397
Can it be the case that the paying users revenuecat user id changed sometime? in this case it looks like the userdefaults will be saved to a different key so that might also cause this?

[2020-11-18 15:29] aboedo commented on #397
the appUserID could change if you use `identify`, for example. However, the value stored as purchaserInfo in `NSUserDefaults` should still contain an expiration date for all transactions for any user that had transactions. From the logs above, it looks like at least one of the transactions was missing an expiration date.
Modifying the device date would also not cause this crash, since the issue is

[2020-11-18 18:04] aboedo commented on #394
Hi @xsleonard,

The initial thinking here was that if there was a bug in the code for this, we'd want to find out right away in order to fix it, and the best way for that to happen would be to actually crash.
I do see your point, however, so we might make this a recoverable error instead.

[2020-11-18 18:25] aboedo commented on #401
I'm not sure I understand the issue here: `DispatchQueue.main` is a queue that's directly associated with the main thread by the OS (as documented here https://developer.apple.com/documentation/dispatch/dispatchqueue/1781006-main), so there return will still be on the main thread.

As for the slowness, yes, it does unfortunately return slightly slower than before. This is because of some new app s

[2020-11-18 18:44] wsun commented on #401
Sorry I probably didn't make it too clear - yup I was primarily highlighting how previously it was returned synchronously on the main thread, you are right that right now it's dispatched asynchronously to the main thread as well. I understand you have the app state checks in place, but it doesn't seem the app state check is strictly necessary for the cache return (it seems like it is for a cache r

[2020-11-18 19:30] aboedo commented on #401
@wsun great catch, you're correct and we could improve those. I'll add it to the backlog. Thanks for pointing this out!

[2020-11-21 14:19] bixcorp commented on #391
Same for me.
- Purchases v3.7.5
- iOS 14.2
- iOS Simulator, attached to xcode.
- Sandbox

[2020-11-24 09:35] ignalonzo commented on #370
Hey, @aboedo , thanks for the response.

The problem surfaces not when making a purchase, but when you cancel the purchase. Then, the `userCancelled` completion returns `false`, when it should return `true` (at least it does on Catalina).

The problem is still there for us on 11.0.1

[2020-11-25 00:04] rkotzy commented on #396
I'm able to repro this as well. The error messages being returned are from Apple, before any connection is made to RevenueCat. When the purchase is initiated, the SDK does not check for an active network connection first, it fires off the request to Apple as soon as possible.

The NETWORK_ERROR from the SDK is returned when there's a network connection issue to the RevenueCat API - so if you went

[2020-11-25 00:04] #396 closed

[2020-11-25 00:27] rkotzy commented on #370
As long as StoreKit is returning `SKErrorDomain Code=0 "UNKNOWN_ERROR"`, there unfortunately isn't a way to tell if the user cancelled the payment flow or not. Apple is supposed to be returning [SKErrorDomain Code=2](https://developer.apple.com/documentation/storekit/skerror/code/paymentcancelled) indicating a cancellation. Going to chalk this up as a macOS bug, we can keep the issue around for di

[2020-12-02 10:52] dylancom commented on #295
@XericDesign we're you able to solve it? I am having the exact same problem. Been reject now 3 times, although everything works in TestFlight and the new in-app purchase is attached to the binary.

[2020-12-02 14:30] XericDesign commented on #295
Go into App Store Connect and do a quick edit of your In-App Purchase products. Just change the name, save it, and then change it back and save it. It took me 3 or 4 tries for my tvOS product to be able to fetch products when submitting though it always worked for beta testers in TestFlight.

[2020-12-02 17:32] aboedo commented on #295
unfortunately IAP changes take a while to propagate, especially for the prod environment, so a delay is to be expected. Changes can take anywhere from minutes to a couple of days to fully propagate from App Store Connect to App Store

[2020-12-03 11:02] smohn commented on #391
+1

[2020-12-17 15:06] hebertialmeida opened #424 "Latest SDK fails to build on macOS"
**Describe the bug**
I'm integrating RC in my macOS app and the latest version of the SDK (3.9.1) fails to build after integrated, that seems to happen after the version 3.8.0 that added `presentCodeRedemptionSheet`. The version 3.7.6 builds normally.

1. Environment
    1. Platform: macOS
    2. SDK version: 3.9.1
    3. OS version: 10.15.7
    4. Xcode version: 12.1

3. Steps to reproduce
Instal

[2020-12-17 15:51] aboedo commented on #424
confirmed on Xcode 12.0.
This has been fixed in #185, and will be a part of the 3.9.2 release, coming out very soon (#423)

[2020-12-17 15:51] aboedo commented on #424
@hebertialmeida thanks for reporting!!

[2020-12-17 16:04] hebertialmeida commented on #424
Thanks!

[2020-12-17 22:40] aboedo commented on #391
3.9.2 is out with the fix! Closing now. Thanks again for reporting!

[2020-12-17 22:40] #391 closed

[2020-12-17 22:41] aboedo commented on #424
3.9.2 is out now with the fix! @hebertialmeida let me know if you run into any more issues. Closing this issue now.

[2020-12-17 22:41] #424 closed

[2020-12-30 01:56] cerupcat commented on #295
We're also running into this same issue.

We're submitting our first app along with the IAP. Since the IAP is "waiting for review" and review won't review it until the app is approved we're in a chicken and an egg scenario.

The IAP is "waiting for review" and therefore, Revenuecat doesn't show the pricing information. Since the pricing information doesn't display, Apple review is rejecting the IA

[2020-12-30 08:12] dylancom commented on #295
@cerupcat I've sent the app review team a video recording of making a purchase trough TestFlight and then it got approved.

[2021-01-04 21:47] aboedo commented on #401
addressed in https://github.com/RevenueCat/purchases-ios/pull/433

[2021-01-12 10:47] alamodey opened #445 "Swift paywall with square edges"
Hi, using the swift paywall in the examples. How come on the iPad the edges are square even though the default initialisation is with a round paywall. There are no issues on the iPhone though.

![IMG_B2AB8C2E4153-1](https://user-images.githubusercontent.com/55496019/104304540-9a89c780-551f-11eb-8761-4398f817714d.jpeg)

![IMG_B3FC55CFC420-1](https://user-images.githubusercontent.com/55496019/104304

[2021-01-14 10:59] serbancoroiu opened #447 "Wrong bundle short version generation"
I have added RevenueCat framework in my project using Carthage and the `CFBundleShortVersionString` is generated wrong:

![image](https://user-images.githubusercontent.com/48278459/104581503-56a1da00-5667-11eb-96ef-6499f69ad418.png)

When i am trying to deploy the app on Apple iTunes i am receiving an error message because the `CFBundleShortVersionString` should be a list of at most 3 non-negative

[2021-01-14 14:42] aboedo commented on #447
Hi! 👋 Thanks for reporting. I've updated the carthage 3.8.0 release so it should be fixed. Let us know if you run into any more issues!

[2021-01-14 14:42] #447 closed

[2021-01-14 17:54] #401 closed

[2021-01-14 18:27] aboedo commented on #445
Hi! Thanks for reporting. This is a bug in the example paywall. The problem is actually that the sizing constraint doesn't work correctly for iPad (or Mac), so the collection view cell is actually too large to fit, so it gets clipped off at the top and bottom.

The paywall in the sample app isn't meant to be a perfect drop-in replacement to use in your app, it's meant to demonstrate how to use the

[2021-01-14 18:27] #445 closed

[2021-01-14 20:46] alamodey commented on #445
Thanks, setting the maxWidth at 150 fixed the issue.

Although you don't regularly update your sample SwiftPaywall, I think it is worthwhile to occasionally refresh it. There's a lot of solo developers that want the most frictionless experience to getting their IAP up and running. I think I gave some previous feedback on how the default labels were getting rejected by the App Store - I'm sure I'm

[2021-01-15 14:25] aboedo commented on #445
I agree. I made a PR with the fix yesterday. And you're correct, the paywall is used by many developers, so although it's not meant to be a perfect drop-in paywall, it's worth keeping it in good shape. Thanks again for reporting and for the feedback!

[2021-01-18 15:46] mmdumi opened #450 "Building project on M1 macs"
Hi,
Carthage is ready to compile frameworks as xcframework in order for us to run projects on M1 macs.
Can you please compile the project as an xcframework ?
Thank you

[2021-01-18 16:38] aboedo commented on #450
compiling as xcframework with compatibility for all platforms is unfortunately tricky, although it is definitely in the roadmap.

However, you should still be able to compile the framework with carthage by doing:

[code]

There is a caveat, though: carthage has some compatibility issues with Xcode 12. So in order to get that command to work, you will likely have to use the [workaround suggested by

[2021-01-20 20:35] aboedo commented on #450
@mmdumi have you given the approach described above a shot?

[2021-01-20 20:38] mmdumi commented on #450
Yeah, that workaround shouldn't be applied as that excludes the arm64 arch for simulator which means that it will not work on simulator on m1 macs.
What I did for now is to manually compile Pruchases.xcframework from the project.

[2021-01-20 20:42] aboedo commented on #450
right, that does make sense.
I do hope to get xcframeworks support for Carthage soon. This is all fairly new, since Carthage itself didn't use to support it until very recently.
I believe the other package manager options (SPM and Cocoapods) should be able to correctly handle simultaneous support for Apple Silicon and Intel macs.
And you can also of course just build from source, like you mentione

[2021-02-07 17:33] Yrban opened #462 "Warning: Accent color ‘AccentColor’ is not present in any asset catalogs."
1. Environment
Platform: Mac
SDK version: 3.10.3
OS version: macOS 14.2 (Big Sur)
Xcode version: 12.4
How widespread is the issue: Build Warning for project.

2. [Debug logs] None
3. Build for App Store Connect
4. **Other information** Located in Purchases/IntegrationTests/CommonFiles/Assets.xcassets. AccentColor is defined but left blank, causing the warning.

[2021-02-08 13:20] aboedo commented on #462
Hi! thanks for reporting. When / where is the build warning shown? Are you using a package manager? If so, which one?
I'm asking because the `IntegrationTests` aren't meant to be used outside of the context of integration tests for the SDK before deploying new versions, so I hadn't expected that build warnings for them would show up to devs using the SDK.

[2021-02-09 00:40] Yrban commented on #462
The warning is shown when building for ARM 64 to deploy to the App Store. This is using SwiftPackages in Xcode.

[2021-02-18 18:48] aboedo commented on #450
@mmdumi I just realized that building through carthage with `--no-use-binaries` right now has some issues that are actually unrelated to architectures, we'll be fixing those soon.
I've added a `.xcframework` version of the SDK into the github release in the meantime, but for proper carthage support on Apple Silicon I'm afraid we'll have to wait until we solve the `--no-use-binaries` issues.
Unfort

[2021-02-23 16:49] luix93 commented on #295
@XericDesign @dylancom @cerupcat I'm facing the same issue. IAP waiting for review, reviewer claims they can't fetch it and app gets stuck loading, but my testflight build are working fine.

I tried sending a video as Dylan did, but nothing. Tried to appeal, they still claim is my issue, nothing else i can do.

Any suggestion would be really helpful, i'm at a loss here

[2021-02-23 16:52] XericDesign commented on #295
Did you try editing the name of your IAPs and changing it back? For me that allowed everything to work within an hour.

[2021-02-23 16:55] luix93 commented on #295
@XericDesign Yes, doing that switches from "Developer action needed" to "Waiting for Review". But submitting the app again always gets to a rejection due to "Guideline 2.1 - Performance - App Completeness" saying they can't fetch purchases, while all works fine in TestFlight on all my devices.

[2021-02-24 14:15] aboedo commented on #450
GitHub auto-closed this issue because I referenced it in the PR, but I'm going to keep it open just a bit longer until a release is out with the fix.

[2021-02-24 20:39] aboedo commented on #450
okay, closing this one now because version `3.10.5` has been released with support for XCFrameworks on Carthage!

To use this:
- make sure you're using Carthage >= 0.37
- make sure to pass in both `--no-use-binaries` and `--use-xcframeworks` to Carthage, i.e.:
[code]
- if you're just transitioning to XCFrameworks with Carthage, make sure to [follow the migration steps on Carthage's website](https:

[2021-02-24 20:39] #450 closed

[2021-02-25 00:18] cerupcat commented on #295
My response to them was that the IAP needs to reviewed and approved prior
to reviewing the app (and also sending a video of it working in Sandbox).

So I would let them know you're using RevenueCat to automatically pull in
IAP and that it will only show approved IAP (along with a sandbox video of
it working). Please approve the IAP before reviewing the rest of the app so
the IAP show correctly.
ᐧ

[2021-03-04 05:05] ForceGT opened #477 "The receipt is not valid with StoreKit configuration file as well as sandbox testing"
**Describe the bug**
I can complete the purchases (or rather simulate the purchases) in the Simulator as well as on a test device (Sandbox method) but the completion block always returns an error saying "The receipt is not valid"
I haven't tested this in production yet and cannot proceed to do so unless the Simulator and the Sandbox work

1. Environment
    1. Platform: IOS
    2. SDK version: lat

[2021-03-04 05:16] ForceGT commented on #477
*Here is my purchase function*

[code]

[2021-03-04 06:29] ForceGT commented on #477
Solved by changing the uploaded .cer file

[2021-03-04 06:29] #477 closed

[2021-03-12 12:19] 3vangelos opened #482 "Crash in RCDeviceCache.m - line 172"
### Several of our users are experiencing the following crash. Only seen on iOS 14 so far. Here's the crashlog (unfortunately there is no additional information):

We are using Purchases SDK 3.10.6 currently.

[2021-03-12 14:47] aboedo commented on #482
it looks like this is happening because `appUserID` is `nil`.
This can happen if `NSUserDefaults` get deleted outside of the SDK, since the SDK is using it for storage.
Any change you're deleting `NSUserDefaults`?
If you need to be able to delete the `standard` `NSUserDefaults` for whatever reason, you can ensure that this crash doesn't happen by setting up the SDK with a [specific suite name](htt

[2021-03-15 08:50] 3vangelos commented on #482
@aboedo thanks for the quick reply. Got it.

[2021-03-15 08:50] #482 closed

[2021-03-22 23:50] thattridentdude commented on #392
Not sure if I'm too late to the party, but if there's still the question of this being specific to the sandbox or not, I can provide some insight.

I can confirm this is not sandbox specific and also occurs in the wild. I had a user that was experiencing issues send me some logs and it's almost verbatim what @xsleonard got in the sandbox environment, the localized description in the production env

[2021-03-23 01:18] 0x454447415244 commented on #155
The test storekit configuration works fine on the simulator and device. However, physical device is unable to fetch SKProducts on its own. This is happening in one of my projects (others are doing fine).

[2021-03-23 03:38] xsleonard commented on #392
Another report of this error in the wild (`SKErrorDomain Code=0, ASDServerErrorDomain Code=3532`), https://developer.apple.com/forums/thread/664977

[2021-03-23 15:10] aboedo commented on #155
@mikezliu @0x454447415244 you should probably contact our support team (https://support.revenuecat.com) for this, since it's typically a configuration issue.

[2021-03-23 15:26] aboedo commented on #392
@thattridentdude thanks for the detailed report.
It does look like something went wrong the first time, where the transaction actually did go through but iOS didn't see it as a success, probably because it didn't get a response from App Store, which might be due to a connectivity issue.
The backend did however see the update, either because the SDK posted the receipt or because of an App Store ser

[2021-03-23 15:31] aboedo commented on #392
I'm going to think about this further and see what we can do to improve behavior. For now, though, the ways for the system to auto-recover are listed in my previous comment. I hope that helps!

[2021-03-23 23:36] thattridentdude commented on #392
@aboedo Thanks for looking into this.

Yeah I think this ended up on the RC backend via a server-to-server notification.
I have implemented the delegate, but that didn't help in this case. I was going to do an overhaul of some of the logic anyways and use the Magic Weather example app to see where I can improve stuff, so I'll double check if the delegate was properly implemented but it's a pretty

[2021-03-24 18:43] SebastianKumor commented on #155
I am having this issue on simulator only but but not on device. Any advice ?

[2021-03-26 18:50] aboedo commented on #392
@thattridentdude we're going to do a mix, where we actually try to handle cases with `ASDServerErrorDomain` and contacting Apple to try to figure out when this would happen and how best to handle it. Thanks for your feedback and patience!

[2021-03-27 18:33] rizwan95 opened #489 "handleOfferingsBackendResultWithData doesn't give callback"
**Describe the bug**
When you call Purchases.shared.offerings, callback is not received. When the code is inspected, the method handleOfferingsBackendResultWithData doesn't give a callback.

1. Environment
   1. Platform: iOS
   2. SDK version: 3.10.5
   3. OS version: iOS 14.4
   4. Xcode version: Xcode Version 12.4 (12D4e)
   5. How widespread is the issue. Percentage of devices affected. - Almo

[2021-03-27 18:43] rizwan95 commented on #489
Okay, it was my mistake. I was calling Purchases.shared.offerings method before setting the API key.

[2021-03-27 18:43] #489 closed

[2021-03-31 06:55] smokyfire opened #490 "RCPurchases.sharedPurchases can be nil, but not marked as nullable"
I'm proposing that
`@property (class, nonatomic, readonly) RCPurchases *sharedPurchases;`
should be
`@property (class, nonatomic, readonly, nullable) RCPurchases *sharedPurchases;`

to reflect the correct nullability to the Swift compiler. This is useful for example when some Swift code wants to assert that `Purchases` has been configured properly.

If you agree with this, I am happy to open a PR.

[2021-03-31 13:45] smokyfire commented on #490
Sounds good 👍 Thank you!

[2021-04-08 10:36] mobmad opened #491 "StoreKit testing: incorrect expiresDate. Timezone issue?"
**Environment**
   1. Platform: iOS
   2. SDK version: 3.10.7
   3. OS version: macOS 11.2.3 (20D91) / iOS 14.4 simulator
   4. Xcode version: 12.4 (12D4e)
   5. Affects at least StoreKit Testing. I have not tested against production environments.

**Steps to reproduce**
1. Follow the instructions in https://docs.revenuecat.com/docs/apple-app-store#ios-14-only-testing-on-the-simulator
2. In XCode,

[2021-04-08 14:44] aboedo commented on #491
hi @mobmad! thanks for reporting, and for the detailed and thorough report.

This issue is specific to StoreKit Test receipts. Thing is, they don't work like regular receipts - they can't be validated against `/verifyReceipts`, and instead have to be parsed on the backend... But the backend won't know about the changes you made in Xcode.
So this is expected due to limitations in how these receipts

[2021-04-08 21:32] lapfelix opened #492 "Suggestion: rename the TEST environment variable to something more specific like REVENUECAT_TEST"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-ios/blob/develop/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/Reve

[2021-04-08 21:34] lapfelix commented on #492
Thank you bot, this isn't exactly a bug but I just added the missing issue template stuff

[2021-04-08 21:52] aboedo commented on #492
Hi @lapfelix!! Thanks for reporting. Don't mind the bot, you're good.
We'll either rename or entirely remove if possible the variable. Ironically, the reason that the TEST variable was there in the first place was so that Xcode wouldn't fetch those dependencies unless someone really wanted to, but I guess we failed to consider the possibility that someone would be using the same variable for somet

[2021-04-08 22:09] lapfelix commented on #492
Great, thank you!

[2021-04-09 07:58] mobmad commented on #491
Hi @aboedo! Thanks for looking into this quickly.

Uninstalling, installing and making a purchase yielded the same result, unfortunately.

So what you're saying is that this is an issue on Apples side for generating wrong timestamps in StoreKit Test receipts? Or that this is some limitation in RevenueCat's backend?

Either way; when parsing the receipt you know that it is a StoreKit Test receipt,

[2021-04-09 12:24] jasonzurita commented on #378
Any update on this @rkotzy?

[2021-04-09 18:44] aboedo commented on #491
I apologize, @mobmad, I had misread the exact times you shared, and wrongfully assumed that you were strictly referring to the part where you can change the durations from Xcode, and figured that those changes might not reflect on the receipt until you reinstall. However, they should at most have a typical sandbox receipt duration, but never 2 hours.

I think you may be correct about our backend a

[2021-04-09 19:31] aboedo commented on #491
just confirmed this locally by updating the timezone on my device. We'll get this fixed. Thanks for reporting!!

[2021-04-10 11:07] mobmad commented on #491
Ah, I see! Glad you're able to reproduce it and I'm looking forward to a fix :) Thanks again!

[2021-04-13 22:02] thattridentdude opened #493 "[Minor] SwiftUi Example has issue in UserViewModel"
- [X] I have updated Purchases SDK to the latest version
- [X] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-ios/blob/develop/CONTRIBUTING.md)
- [X] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [X] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [X] I have searched for [existing Github issues](https://github.com/Reve

[2021-04-13 23:41] thattridentdude commented on #493
Closed, turned out to be a non-issue as I made a rather dumb mistake.

[2021-04-13 23:41] #493 closed

[2021-04-21 17:03] aboedo commented on #378
Is this happening only on apple watch? If so, maybe it's a bug specific to watchOS. @jasonzurita do you have an iOS app as well or is it watch-only?

@alamodey is `configure` getting called at all for you? If so, then your case might be a different issue.

Inside `configure`, which `purchaserInfo` are you using? Is it the latest one from the delegate, are you calling the `purchaserInfo` method aga

[2021-04-22 15:42] aboedo commented on #491
Update here: we found the bug in the receipts generated by StoreKit Test.
We're issuing a backend-side fix very soon, and we've also opened a radar so Apple can fix it on their side. Radar details: https://openradar.appspot.com/radar?id=5041399279910912

Thanks again for reporting! I'll close this issue when the fix is deployed.

[2021-04-23 07:38] antoniobg commented on #491
Hi @mobmad, the backend fix is live now 🎊
I'm closing this issue, but let us know if you find any additional problem.

[2021-04-23 07:38] #491 closed

[2021-04-23 08:05] mobmad commented on #491
Great! I can confirm that this works as expected now.
Thanks again!

[2021-04-23 12:02] danthorpe opened #497 "Creating Alias debug log is backwards."
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-ios/blob/develop/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/Reve

[2021-04-23 13:37] vegaro commented on #497
Yes, that's a pretty confusing log. Thanks for bringing this up. I will open a quick PR to update it

[2021-04-23 16:20] vegaro commented on #497
Just merged https://github.com/RevenueCat/purchases-ios/pull/498. It will go out with the next release. Closing this.

[2021-04-23 16:20] #497 closed

[2021-04-24 05:02] ralphcode opened #499 "Non-String Subscriber Attributes Crashes App"
**Describe the bug**

When setting attributes if a numeric value is provided, the value is saved to `UserDefaults` as an `NSNumber`  I.e.
[code]

When called a second time the `storeAttributeLocallyIfNeededWithKey` method loads the `NSNumber` value but compares it as an `NSString` using `isEqualToString`, which crashes the device.
[code]

The app then needs to be deleted, before it can ever be use

[2021-04-26 21:10] aboedo commented on #499
Hi! 👋  Thanks for opening.

Our API does specify that the input type of that method is supposed to be:
`NSDictionary <NSString *, NSString *> *` in Objective-C, and
`[String: String]` in Swift

https://github.com/RevenueCat/purchases-ios/blob/develop/Purchases/Public/RCPurchases.h#L414

And in fact, if you attempt to send a non-string in Objective-C, you get a build warning:
<img width="755" alt="

[2021-04-26 22:57] Ralpharoo commented on #499
Hi @aboedo

Sorry, I should have specified. The bug/crashes occurs within `purchase-ios` however, this is made possible through the Cordova plugin `cordova-plugin-purchases` (and maybe other non-typed ones).

To replicate, you can run this in JavaScript with the Cordova plugin installed;

[code]

This will then crash `purchase-ios` per the original post.

Do you want me to move this over to the Co

[2021-04-27 14:26] aboedo commented on #499
@Ralpharoo that makes sense.
Yeah, I think we should enforce types in both sides, for the sake of having a better crash log at least.

We do have the type documented in `cordova-plugin-purchases` as `{ [key: string]: string | null }` in [typescript](https://github.com/RevenueCat/cordova-plugin-purchases/blob/develop/src/plugin/plugin.ts#L928), but that [won't translate over to javascript](https://

[2021-05-14 13:33] Vladbruno opened #505 "Function not calling after success purchase"
**Describe the bug**
I have this code to make purchases:
`            Purchases.shared.offerings { (offerings, error) in
                            if let packages = offerings?.current?.availablePackages {
                                Purchases.shared.purchasePackage(packages[1]) { (transaction, purchaserInfo, error, userCancelled) in
                                    if purchaserInfo?.entit

[2021-05-17 18:37] aboedo commented on #505
Hi! 👋  I'm updating the code you pasted for formatting / readability

[2021-05-17 18:41] aboedo commented on #505
looking at that code, it seems like this may be a configuration issue:

If the product being purchased isn't tied to the `month_subscript` entitlement, the "unlock" part in your code won't happen. This could happen if the entitlement isn't set up correctly, if the product is set up with a different entitlement, or if there's a typo, for example.
I'd suggest checking the `entitlements.all` object a

[2021-05-28 12:35] XericDesign opened #511 "Framework not found in Xcode 12"
After updating to Xcode 12, and switching from the Purchases.framework to the Purchases.xcframework, I am now seeing the following error...

Library not loaded: @rpath/Purchases.framework/Purchases
  Referenced from: /private/var/containers/Bundle/Application/A5410F6D-AEB6-48ED-8273-3EDD930C9080/MyApp.app/MyApp
  Reason: image not found

Prior to switching to the xc version, I was seeing:

Buildin

[2021-05-28 12:40] #511 closed

[2021-05-28 12:40] XericDesign commented on #511
It seems Xcode was not embedding then framework - it seems fixed now.

[2021-05-28 17:40] #378 closed

[2021-06-01 19:41] nikkothari22 commented on #295
Been facing the same issue. They rejected the app twice because of that. This time I have sent a video, along with instructions that the IAP needs to be approved before reviewing the app like many others said in this thread. Very frustrating experience so far.

[2021-06-03 15:42] #499 closed

[2021-06-04 18:21] aboedo commented on #490
Update here: [the fix](https://github.com/RevenueCat/purchases-ios/pull/508) has been merged and will be released in the next update! Thanks again @smokyfire for pointing this out!

[2021-06-07 15:17] norrisboat commented on #375
@aboedo I'm experiencing this on 3.11.1

[2021-06-08 12:11] jacksonjesse opened #517 "Xcode 13 Beta strict enforcement of valid exclusion paths causes warning"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-ios/blob/develop/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/Reve

[2021-06-08 12:21] aboedo commented on #517
Hi! 👋 Thanks for reporting! We'll get it fixed.

[2021-06-08 16:20] norrisboat opened #518 "[Purchases] - Cached appUserID has been deleted from user defaults"
- [ x ] I have updated Purchases SDK to the latest version
- [ x ] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-ios/blob/develop/CONTRIBUTING.md)
- [ x  ] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [  x ] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [  x ] I have searched for [existing Github issues](https://gi

[2021-06-08 17:03] beylmk commented on #518
Hi @norrisboat thanks for opening an issue! Can you please confirm for me whether you're making any calls to clear user defaults from your app?

Also - can you please share any calls to the RevenueCat SDK upon logout and on application startup?

[2021-06-08 17:14] michaellenaghan opened #519 "Xcode Analyzer spotted an issue in an older version of the code"
Xcode Analyzer spotted an issue in an older version of the code. Here's the reasoning:

1. RCPurchases.m:1128:5: Calling 'syncPurchasesWithCompletionBlock:'
1. RCPurchases.m:607:1: Entered call from 'storeKitWrapper:didRevokeEntitlementsForProductIdentifiers:'
1. RCPurchases.m:608:5: Calling 'syncPurchasesWithReceiptRefreshPolicy:isRestore:completion:'
1. RCPurchases.m:622:1: Entered call from 'sy

[2021-06-09 15:12] norrisboat commented on #518
@beylmk when a user logs out from my app I clear user defaults.

[code]

[2021-06-09 16:05] norrisboat commented on #518
@beylmk your comment lead me to find that I was actually supposed to use

[code]

After doing that it works just fine.

[2021-06-09 16:05] #518 closed

[2021-06-09 19:56] aboedo commented on #397
Tentatively closing out this ticket due to inactivity. @zsbee if you're still facing issues feel free to reopen

[2021-06-09 19:56] #397 closed

[2021-06-16 14:06] NikKovIos commented on #369
The same error. What did you do with it?

[2021-06-23 00:29] taquitos opened #535 "Add issue template for swift migrations tasks"
So we can create many more and track them with milestones.

[2021-06-23 00:36] taquitos opened #536 "+(bool) IsSandbox untested"

[2021-06-23 00:37] taquitos commented on #536
making a change to the following code:
+ (BOOL)isSandbox {
    NSURL *url = NSBundle.mainBundle.appStoreReceiptURL;
    NSString *receiptURLString = url.path;
    return ([receiptURLString rangeOfString:@"sandboxReceipt"].location != NSNotFound);
}

[2021-06-23 21:06] taquitos opened #538 "Migrate RCLogUtils"
This will probably be the last one migrated.

[2021-06-23 21:07] taquitos opened #539 "Migrate Caching Folder"
- [x] DeviceCache
- [x] InMemoryCachedObject

[2021-06-23 21:08] taquitos opened #540 "Migrate FoundationExtension"
Migrating the whole FoundationExtension folder:
The extensions are rather small, and they are used internally.

There will be 1 challenge- the NSError extension. It references:
[code]

- `RCPurchasesErrors` contains enums
- `RCBackend` contains a couple const strings that are referenced.
-

So, 2 approaches

1. you could migrate both those imports
2. you could decline to migrate NSError until some

[2021-06-23 21:09] taquitos opened #541 "Migrate RCSystemInfo"

[2021-06-23 21:09] taquitos opened #542 "Migrate RCDateProvider"

[2021-06-23 21:13] taquitos opened #543 "Migrate RCCrossPlatformSupport defines"

[2021-06-23 21:14] taquitos opened #544 "Migrate RCISOPeriodFormatter"

[2021-06-23 21:16] taquitos opened #545 "Migrate Networking"
- [x] Backend
- [x] HTTPClient
- [x] StatusCodes
- [x] Request

[2021-06-23 21:20] taquitos opened #546 "Migrate RCPurchases"
This is an exciting one.

[2021-06-23 21:21] taquitos opened #547 "Migrate PurchasesErrors"

[2021-06-23 21:21] taquitos opened #548 "Migrate PurchasesErrorUtils"
~Blocked on #547~

[2021-06-23 21:23] taquitos opened #549 "Migrate PurchaserInfo"

[2021-06-23 21:23] taquitos opened #550 "Migrate IntroEligibility"

[2021-06-23 21:23] taquitos opened #551 "Migrate Offerings"
blocked on #555

[2021-06-23 21:23] taquitos opened #552 "Migrate Package"

[2021-06-23 21:25] taquitos opened #553 "Migrate EntitlementInfo"
Blocked by #558

[2021-06-23 21:26] taquitos opened #554 "Migrate EntitlementInfos"
Blocked on #553

[2021-06-23 21:27] taquitos opened #555 "Migrate Offering"
Blocked on

- [x] #552

[2021-06-23 21:29] taquitos opened #556 "Remove RCTransaction"
And reference `Purchases.Transaction`
Also make Transaction API @objc-able

[2021-06-23 21:30] taquitos opened #557 "Migrate RCAttributionNetwork"

[2021-06-23 21:30] taquitos opened #558 "Migrate RCPurchaseOwnershipType"

[2021-06-23 21:30] taquitos opened #559 "Migrate RCLogLevel"
Blocked on #559 (RCLogLevel)

[2021-06-23 22:32] taquitos opened #560 "Migrate RCReceiptFetcher"

[2021-06-23 22:33] taquitos opened #561 "Migrate RCOfferingsFactory"
Blocked by:
- [x] #555
- [x] #551

[2021-06-23 22:33] taquitos opened #562 "Migrate RCPromotionalOffer"
Blocked on

- [x] #581

[2021-06-23 22:41] taquitos opened #563 "Migrate RCReceiptRefreshPolicy"

[2021-06-23 22:41] taquitos opened #564 "Migrate RCProductInfoExtractor"

[2021-06-23 22:42] taquitos opened #565 "Migrate RCProductInfo"
Blocked on

- [x] #562

[2021-06-23 22:42] taquitos opened #566 "Migrate RCStoreKitWrapper"
Blocked by
~- [ ] #538~

[2021-06-23 22:42] taquitos opened #567 "Migrate RCStoreKitRequestFetcher"

[2021-06-23 22:51] taquitos opened #568 "Migrate RCSpecialSubscriberAttributes"
Blocked on
- [ ] #570
- [x] #538
- [ ] #604
- [x] #555
- [x] #551

[2021-06-23 22:51] taquitos opened #569 "Migrate RCSubscriberAttribute"

[2021-06-23 22:51] taquitos opened #570 "Migrate RCSubscriberAttributesManager"
Blocked by
- [x] #604
- [x] #572
- [x] #581
- [x] #577
- [x] #538
- [x] #568

[2021-06-23 22:52] taquitos opened #571 "Migrate RCPurchases+SubscriberAttributes"
Blocked by
- [x] #570
- [x] #538
- [x] #604
- [x] #555
- [x] #551

[2021-06-23 22:52] taquitos opened #572 "Migrate RCAttributionFetcher"
Blocked on
- [x] #538
- [x] #577
- [ ] #575
- [x] #573

[2021-06-23 22:53] taquitos opened #573 "Migrate RCAttributionData"

[2021-06-23 22:53] taquitos opened #574 "Migrate RCAttributionTypeFactory"

[2021-06-23 22:54] taquitos opened #575 "Migrate RCIdentityManager"

[2021-06-23 22:55] taquitos opened #576 "Migrate RCPurchaserInfoManager"
Blocked on
- [x] #577
- [x] #538
- [x] #581
- [x] #549

[2021-06-23 22:56] taquitos opened #577 "Migrate RCDeviceCache"
Move the class method:
`+ (RCSubscriberAttribute *)newAttributeWithDictionary:(NSDictionary<NSString *, NSObject *> *)dictionary`
back to `SubscriberAttribute.swift` once this class is migrated.

This method exists because it cannot exist in Swift due to compiler bugs: https://bugs.swift.org/browse/SR-14847

Blocked by
- [x] #551
- [ ] #578

[2021-06-23 22:56] taquitos opened #578 "Migrate RCInMemoryCachedObject"

[2021-06-23 22:57] taquitos opened #579 "Migrate RCHTTPStatusCodes"

[2021-06-23 22:57] taquitos opened #580 "Migrate RCHTTPClient"
Blocked on
- [x] #538
- [x] #579
- [x] #582
- [x] #548

[2021-06-23 22:58] taquitos opened #581 "Migrate RCBackend"
Blocked by

- [x] #557
- [x] #565
- [x] #562
- [x] #569
- [x] #548
- [x] #549
- [x] #550
- [X] #580

[2021-06-23 22:58] taquitos opened #582 "Migrate RCHTTPRequest"

[2021-06-23 23:33] taquitos opened #584 "Migrate APITesterApp into purchases-ios project"

[2021-06-24 01:07] taquitos opened #586 "Update contributing docs for Swift Migration instructions"

[2021-06-24 19:36] taquitos opened #588 "Add Code of Conduct"
Add a code of conduct (here’s a [good one to start with](https://www.contributor-covenant.org/version/1/4/code-of-conduct/)). This is super important to signal what our intentions are, and that our repos are meant to be positive, collaborative, spaces where bad actors are not welcome, and that we will take action should it be reported to @RevenueCat/sdk

[2021-06-24 20:15] taquitos opened #590 "Add a project VISION.md"
Add a project VISION.md file that outlines how we think of the project, where we want to go, and even why (example). Contributing.md should link to this, and our issue template should as well. We should be sure to add what is optional and what is mandatory, as well.

[2021-06-24 20:17] taquitos opened #591 "Update CONTRIBUTING.md to include a section on why we decline PRs"

[2021-06-25 15:51] taquitos opened #593 "Make APITester project production ready"
- [x] Remove TODOs
- [x] Remove `@PurchasesCoreSwift references`
- [x] Ensure class-level entries are encapsulated better (maybe in a new file, or at least in a method)
- [x] Consider moving to test target instead of build target

[2021-06-26 00:18] taquitos opened #597 "Enable disabled Swiftlint rules after migration."

[2021-06-26 00:33] #559 closed

[2021-06-26 00:33] #535 closed

[2021-06-28 17:05] taquitos opened #599 "Break out and address each post-migration todo."
- Search on "TODO(post-migration)"

[2021-06-28 18:02] taquitos opened #600 "Post-Migration"
- [ ] Consider -hash -isEqual updates

[2021-06-28 18:35] joshdholtz commented on #542
Claiming this issue 😊

[2021-06-28 21:34] joshdholtz commented on #540
@taquitos The last issue I tackled for #542 was for a single class. The one looks like it's for an entire folder, correct? Can we maybe get a description update for the specific classes/files that this issue all includes? 😇 Are there also any known gotchas that this issue could cause? Thank you! ❤️

[2021-06-28 21:44] taquitos commented on #540
Yooo, yeah, sorry, I meant to go back and flesh this out a little more.
You're right! It's for the entire folder 🙀

[2021-06-28 22:12] joshdholtz commented on #540
@taquitos No worries 😊 Appreciate the quick response!

[2021-06-28 22:15] joshdholtz commented on #540
Also... I can't assign myself but I got this one 💪

[2021-06-28 23:06] joshdholtz commented on #540
@taquitos If we could create a new/separate issue for the `NSError+RCExtensions.m` that would be 🔥  That one is a little more work and different than the rest and I think it deserves it's own issue and PR 😊

[2021-06-28 23:17] taquitos opened #604 "Migrate NSError+RCExtensions"

[2021-06-28 23:17] taquitos commented on #540
![YouGotItDude](https://user-images.githubusercontent.com/1304821/123714909-18bafb80-d82c-11eb-9fd9-cd5b7928896e.gif)
https://github.com/RevenueCat/purchases-ios/issues/604

[2021-06-28 23:18] joshdholtz commented on #540
@taquitos Thank you!! PR incoming for this one then 😊 And your gif game is still strong 🙌

[2021-06-28 23:24] taquitos commented on #540
💪

[2021-06-29 18:02] taquitos opened #607 "Migrate RCCrossPlatformSupport.h"

[2021-06-30 19:17] taquitos opened #611 "Address comments from review on RCEntitlementInfos"
https://github.com/RevenueCat/purchases-ios/pull/606

[2021-07-01 23:31] taquitos commented on #579
Resolves #614

[2021-07-02 01:34] taquitos opened #617 "Migrate SwiftObjcCompatibility Folder"
There are a couple typedefs that were pulled out of headers and placed in that folder since bridging typealiases to ObjC from Swift isn't a thing.

Must finish migrating all the things first

[2021-07-02 18:11] taquitos opened #621 "SwiftLint complains about not being installed on CI for two of the 3 targets"
Let's update the linter script to not run swiftlint if we have a certain environment variable set.
That way we don't need to touch the pre-commit script or script phase in Xcode.
We'll still need to update CircleCI config to set the environment variable for the jobs we don't want to use swift lint in.

[2021-07-03 09:45] AnatoliyOstapenko commented on #462
Hi guys! Did you can solve the issue.

I have the same.

[2021-07-05 17:48] PolarMishka commented on #462
I had this when I unintentionally deleted AccentColor. Just added it back from an empty project.

[2021-07-06 13:10] kasvith commented on #155
I'm also having the same issue in iOS simulator

[2021-07-06 14:31] aboedo commented on #538
This file is actually just a backwards-compatibility utility for when we migrated logging to Swift in the first place a while back, so that we wouldn't have to update all existing calls to logging. So all that's needed here is to delete the file when existing calls to it are migrated to swift. I'll update the title

[2021-07-06 14:45] aboedo commented on #462
@AnatoliyOstapenko I can't reproduce this issue locally using Swift Package Manager and 3.11.1. Is the error message pointing to `Purchases/IntegrationTests/CommonFiles/Assets.xcassets.` in your case?

[2021-07-06 14:54] aboedo commented on #155
@SebastianKumor I'm sorry I missed your reply here! I hope you figured it out, but if you haven't, the issue is that iOS simulators are now only compatible with StoreKit Config files. [See this article for more information,](https://support.revenuecat.com/hc/en-us/articles/360041793174-Why-are-products-empty-) but in general terms, you should always try to test with physical devices.
@kasvith same

[2021-07-06 14:55] aboedo commented on #155
I'm locking this issue so that folks who were involved in it back in 2019 don't get pinged for every update in the ticket. If you experience more issues with configuration, please open up a ticket with our [support team here](https://support.revenuecat.com).

If you experience bugs, please open up a new ticket.

I hope this helps!

[2021-07-06 18:04] #569 closed

[2021-07-06 18:04] #540 closed

[2021-07-06 18:04] #607 closed

[2021-07-06 18:05] #557 closed

[2021-07-06 18:05] #556 closed

[2021-07-06 18:05] #554 closed

[2021-07-06 18:05] #541 closed

[2021-07-06 18:06] #544 closed

[2021-07-06 18:06] #611 closed

[2021-07-06 18:06] #553 closed

[2021-07-06 18:06] #542 closed

[2021-07-06 18:06] #586 closed

[2021-07-06 18:06] #558 closed

[2021-07-06 18:06] #584 closed

[2021-07-07 15:45] taquitos opened #624 "Add log warning when product.title is empty string, nil, or just filled with spaces."
I think RevenueCat/purchases-flutter#212 could be debugged easier if we added some more logging around product fields that we expect to not be empty.

[2021-07-07 16:41] #552 closed

[2021-07-07 16:54] #543 closed

[2021-07-07 20:27] javierdemartin commented on #560
Gonna give this one a go! 😊

[2021-07-07 20:29] #563 closed

[2021-07-07 22:10] #567 closed

[2021-07-07 22:11] Juanpe commented on #564
If it's still available, I'll do it :)

[2021-07-07 22:12] #562 closed

[2021-07-07 22:13] #565 closed

[2021-07-07 22:13] #550 closed

[2021-07-07 22:29] taquitos commented on #564
Feel free 😄 It's available

[2021-07-07 23:04] Juanpe commented on #564
Hi @taquitos, I've got a question.

I'm migrating the product extractor, but I've realized that the `currencyCode` value is mandatory to create a `ProductInfo` object. The problem is that the `currencyCode` property returns an optional ([`Locale+Extensions.swift:12`](https://github.com/RevenueCat/purchases-ios/blob/swift_migration/PurchasesCoreSwift/FoundationExtensions/Locale%2BExtensions.swift))

[2021-07-08 02:39] taquitos commented on #564
Ooooo I'll take a look tomorrow morning 😁

[2021-07-08 16:04] Juanpe commented on #582
I'm motivated 😜 Could I do this one? 🙂

[2021-07-08 16:12] taquitos commented on #582
Wooo, go for it! I'll move it to `in progress`

[2021-07-08 18:10] taquitos opened #629 "New build step that checks for things that we might get caught up on"
Grep for "TARGET_OS" in swift files and return an error since that means we're seeing ` #if TARGET_OS` and that won't work in Swift, but will still compile 🤦‍♂️

[2021-07-08 18:11] taquitos opened #630 "Update CircleCi to build all platforms"
During migration, we should build all platforms to ensure we didn't miss something.

[2021-07-08 21:34] #560 closed

[2021-07-08 21:34] #564 closed

[2021-07-09 00:54] #582 closed

[2021-07-09 10:47] Juanpe commented on #574
I've migrated it :)

[2021-07-09 22:30] aboedo commented on #566
gonna grab this one

[2021-07-09 23:48] taquitos opened #639 "Cherry Pick Etag support"

[2021-07-10 01:35] #579 closed

[2021-07-10 01:36] #630 closed

[2021-07-12 16:17] #639 closed

[2021-07-12 16:50] #555 closed

[2021-07-12 19:02] #566 closed

[2021-07-12 19:08] aboedo commented on #538
gonna take care of this one! I'll remove the macros and replace with calls to the logger directly. That'll make migrating other files easier.

[2021-07-13 00:02] #538 closed

[2021-07-13 19:40] vegaro commented on #572
I can take care of this once https://github.com/RevenueCat/purchases-ios/pull/609 is merged since it's blocked by it

[2021-07-13 19:43] #551 closed

[2021-07-14 05:22] rizwan95 opened #651 "Promoted in-app purchase doesn't work"
- [x] I have updated Purchases SDK to the latest version
- [x] I have read the [Contribution Guidelines](https://github.com/RevenueCat/purchases-ios/blob/main/CONTRIBUTING.md)
- [x] I have read the [Help Center](https://support.revenuecat.com/hc/en-us)
- [x] I have read [docs.revenuecat.com](https://docs.revenuecat.com/)
- [x] I have searched for [existing Github issues](https://github.com/Revenue

[2021-07-14 10:56] Juanpe commented on #629
Hi!

I could do this, but I don't understand very well what this issue means. 😕 The idea is that there aren't available classes on some platforms, and we aren't checking it or checking wrongly? 🤔

BTW, the target test doesn't support all the platforms, only `iOS`. I think it'd make sense to support the rest, wouldn't it?

[2021-07-14 17:03] taquitos opened #652 "Support all platforms in test targets"
Currently we only really support iOS. This isn't intentional, but if you even try to build test targets for other platforms like mac, you're in for some ❌ ❌ ❌

Let's improve this 😄

[2021-07-14 18:30] Juanpe commented on #629
Good idea 👍🏼

I could do both or at least one of them 🙂 Which one is more priority?

[2021-07-14 19:44] Juanpe commented on #629
Hi @taquitos, I've opened a PR with a proposal for the build step.

Let me know if you think it's enough to fix the problem :)

[2021-07-14 19:58] #547 closed

[2021-07-14 19:58] #561 closed

[2021-07-14 21:33] taquitos opened #654 "Re-enable issue bot"
Issue bot was flagging all our issues, at a minimum, let's reconfigure it to ignore those created by org members. It would be better if people could still file issues for sdk work needed/bugs while also letting people know they should go to support for product support.

[2021-07-14 23:20] vegaro commented on #651
I just tried it out and it looks like I got it to work fine.

**Make sure you set are setting `Purchases.shared.delegate = self` after calling configure and not before** (someone had that issue [here](https://docs.revenuecat.com/discuss/5d715b81cd94cb004ded6542)).

Then implement the delegate function like:

[code]

With caching the defermentBlock we mean that you can save the deferment block as a

[2021-07-15 08:59] rizwan95 commented on #651
Thank you so much for the detailed response! I will test it out and let you know!

[2021-07-15 15:32] aboedo commented on #394
Hi! sorry for the looong delay here.
We've updated the SDK to remove all `fatalError`s, changes have been released in 3.12.0.

Thanks for pointing this out!!

[2021-07-15 15:33] #490 closed

[2021-07-15 15:34] aboedo commented on #492
Hi! sorry for the delay here.
The fix has been merged and released as a part of 3.12.0.
Thanks again for reporting!

[2021-07-15 15:34] #492 closed

[2021-07-15 15:34] aboedo commented on #517
Hi!
The fix has been merged and released as a part of 3.12.0.
Thanks again for reporting!

[2021-07-15 15:37] aboedo commented on #519
Hi! I just realized we never replied here 🤦‍♂️ I'm sorry!!!
Thanks for reporting. I just confirmed that this is still valid in the latest release, 3.12.0.

The good news is that this will get fixed as a part of the [swift migration](https://github.com/RevenueCat/purchases-ios/projects/3)!